# String

In [1]:
s="hello python"

In [2]:
len(s)

12

In [3]:
min(s)

' '

In [4]:
max(s)

'y'

In [5]:
sorted(s)

[' ', 'e', 'h', 'h', 'l', 'l', 'n', 'o', 'o', 'p', 't', 'y']



###  Python String Functions with Examples:

| Function | Description | Example |
|----------|-------------|---------|
| `capitalize()` | Capitalizes the first character | `"hello".capitalize()` → `'Hello'` |
| `casefold()` | Case-insensitive lowercase (stronger than `lower()`) | `"HELLO".casefold()` → `'hello'` |
| `center(width)` | Centers the string with padding | `"hi".center(6, '*')` → `'**hi**'` |
| `count(sub)` | Counts how many times a substring occurs | `"banana".count('a')` → `3` |
| `encode()` | Returns encoded version of string | `"café".encode()` → `b'caf\xc3\xa9'` |
| `endswith(suffix)` | Checks if string ends with given value | `"hello".endswith('lo')` → `True` |
| `expandtabs(n)` | Replaces `\t` with spaces | `"a\tb".expandtabs(4)` → `'a   b'` |
| `find(sub)` | Finds the first occurrence index | `"hello".find('l')` → `2` |
| `format()` | Formats string with placeholders | `"{} is {}".format("Sky", "blue")` → `'Sky is blue'` |
| `format_map(dict)` | Formats using a mapping | `"{x}, {y}".format_map({'x': 1, 'y': 2})` → `'1, 2'` |
| `index(sub)` | Like `find()`, but raises error if not found | `"hi".index('i')` → `1` |
| `isalnum()` | Checks if alphanumeric | `"abc123".isalnum()` → `True` |
| `isalpha()` | Checks if only alphabets | `"abc".isalpha()` → `True` |
| `isascii()` | Checks if all characters are ASCII | `"hello".isascii()` → `True` |
| `isdigit()` | Checks if all characters are digits | `"123".isdigit()` → `True` |
| `islower()` | Checks if all lowercase | `"hello".islower()` → `True` |
| `isupper()` | Checks if all uppercase | `"HELLO".isupper()` → `True` |
| `istitle()` | Checks if title case | `"Hello World".istitle()` → `True` |
| `isspace()` | Checks if only whitespace | `" \t".isspace()` → `True` |
| `join(iterable)` | Joins iterable elements into string | `"-".join(["a", "b"])` → `'a-b'` |
| `ljust(width)` | Left-justifies string | `"hi".ljust(5, '_')` → `'hi___'` |
| `lower()` | Converts to lowercase | `"Hi".lower()` → `'hi'` |
| `lstrip()` | Removes leading spaces/chars | `"  hello".lstrip()` → `'hello'` |
| `partition(sep)` | Splits into 3 parts: before, sep, after | `"apple:fruit".partition(':')` → `('apple', ':', 'fruit')` |
| `replace(old, new)` | Replaces substrings | `"hello".replace('l', 'x')` → `'hexxo'` |
| `rfind(sub)` | Finds last occurrence index | `"hello".rfind('l')` → `3` |
| `rindex(sub)` | Like `rfind()`, but raises error if not found | `"hello".rindex('l')` → `3` |
| `rjust(width)` | Right-justifies string | `"hi".rjust(5, '_')` → `'___hi'` |
| `rstrip()` | Removes trailing spaces/chars | `"hello  ".rstrip()` → `'hello'` |
| `rsplit(sep)` | Splits from the right | `"a,b,c".rsplit(',', 1)` → `['a,b', 'c']` |
| `split(sep)` | Splits into list | `"a,b,c".split(',')` → `['a', 'b', 'c']` |
| `splitlines()` | Splits at line breaks | `"a\nb".splitlines()` → `['a', 'b']` |
| `startswith(prefix)` | Checks if starts with value | `"hello".startswith('he')` → `True` |
| `strip()` | Removes leading/trailing spaces/chars | `"  hi  ".strip()` → `'hi'` |
| `swapcase()` | Swaps upper/lowercase | `"HeLLo".swapcase()` → `'hEllO'` |
| `title()` | Converts to title case | `"hello world".title()` → `'Hello World'` |
| `translate(map)` | Translates using translation table | `"abc".translate(str.maketrans('a', 'x'))` → `'xbc'` |
| `upper()` | Converts to uppercase | `"hi".upper()` → `'HI'` |
| `zfill(width)` | Pads string on left with zeros | `"42".zfill(5)` → `'00042'` |

---

In [9]:
'hello'.center(12,"*")

'***hello****'

In [13]:
s="abcdkfjdfn"
s.endswith("n")

True

In [15]:
s.find("f")

5

### Encoding string (windows)
- unicode =utf8,utf16,utf32,utf64
### MacOS
- Latin-1

# List()

In [16]:
# Empty list
L=[]
print(L)
print(type(L))

[]
<class 'list'>

In [17]:
# single element list
L=[1]
print(L)
print(type(L))

[1]
<class 'list'>

## Built-in Functions Used with Lists

These are general-purpose Python functions you can use on lists:

| Function      | Description                   | Example                                             |
| ------------- | ----------------------------- | --------------------------------------------------- |
| `len()`       | Returns number of elements    | `len([1, 2, 3]) → 3`                                |
| `max()`       | Returns the largest item      | `max([1, 5, 3]) → 5`                                |
| `min()`       | Returns the smallest item     | `min([1, 5, 3]) → 1`                                |
| `sum()`       | Returns sum of elements       | `sum([1, 2, 3]) → 6`                                |
| `sorted()`    | Returns a sorted list         | `sorted([3, 1, 2]) → [1, 2, 3]`                     |
| `list()`      | Converts iterable to list     | `list("abc") → ['a', 'b', 'c']`                     |
| `any()`       | True if any element is true   | `any([0, 1, False]) → True`                         |
| `all()`       | True if all elements are true | `all([1, True, 5]) → True`                          |
| `enumerate()` | Returns index-value pairs     | `list(enumerate(['a','b'])) → [(0, 'a'), (1, 'b')]` |
| `zip()`       | Combines multiple lists       | `list(zip([1,2],[3,4])) → [(1,3), (2,4)]`           |

---

In [21]:
L=[234,0,34,5,6,4,234,2342]
print(any(L))
print(all(L))

True
False

In [24]:
L1=[0,0,0,0,0,0,0,0]
print(any(L1))
print(all(L1))

False
False

In [26]:
L1=[2,4,6,8]
L2=[1,3,5,7,9]
list(zip(L1,L2))

[(2, 1), (4, 3), (6, 5), (8, 7)]

In [28]:
name=["rohit",'kumal','deepak','raju']
age=[23,45,28,24]
dict(zip(name,age))

{'rohit': 23, 'kumal': 45, 'deepak': 28, 'raju': 24}

## List Methods

These are methods that only work on list objects:

| Method             | Description              | Example                                 |
| ------------------ | ------------------------ | --------------------------------------- |
| `append(x)`        | Adds item at the end     | `a = [1]; a.append(2) → [1, 2]`         |
| `extend(iterable)` | Adds multiple items      | `a = [1]; a.extend([2,3]) → [1, 2, 3]`  |
| `insert(i, x)`     | Inserts at index `i`     | `a = [1,3]; a.insert(1, 2) → [1, 2, 3]` |
| `remove(x)`        | Removes first occurrence | `a = [1,2,3]; a.remove(2) → [1, 3]`     |
| `pop([i])`         | Removes and returns item | `a = [1,2,3]; a.pop() → 3`              |
| `clear()`          | Removes all items        | `a = [1,2]; a.clear() → []`             |
| `index(x)`         | Returns index of x       | `[10, 20, 30].index(20) → 1`            |
| `count(x)`         | Counts occurrences       | `[1,2,2,3].count(2) → 2`                |
| `sort()`           | Sorts the list in place  | `a = [3,1,2]; a.sort() → [1, 2, 3]`     |
| `reverse()`        | Reverses the list        | `a = [1,2,3]; a.reverse() → [3, 2, 1]`  |
| `copy()`           | Returns shallow copy     | `b = a.copy()`                          |

---

###  Notes:

* `sort()` modifies the original list; `sorted()` returns a new sorted list.
* `pop()` without arguments removes the **last** item.
* `remove(x)` gives an error if `x` not found.
* `append()` adds a **single item**, even if it’s a list.

In [29]:
L=[32,56,32,54]
L1=L

In [30]:
print(id(L))
print(id(L1))

2241579993152
2241579993152

In [31]:
x=[32,56,32,54]
y=[32,56,32,54]
print(id(x))
print(id(y))

2241580003328
2241576400448

In [33]:
L2=L.copy()

In [34]:
print(id(L))
print(id(L2))

2241579993152
2241579998208

# Tuple()

In [1]:
# empty tuple
T1=()
print(T1)
type(T1)

()

tuple

In [2]:
# single element tuple
T1=(1)
print(T1)
type(T1)

1

int

In [3]:
T1=("A")
print(T1)
type(T1)

A

str

In [4]:
T2=("A",)
print(T2)
type(T2)

('A',)

tuple

In [5]:
# immutable data: (int,float,bool,complex,str,tuple)

**packing or unpacking tuple**

In [6]:
T3=1,3,4,5,7,5,34,"aaa"
T3

(1, 3, 4, 5, 7, 5, 34, 'aaa')

In [9]:
a,b,c,d=(1, 3, 4, 5)
print(a)
print(b)
print(c)
print(d)

1
3
4
5

## Built-in Functions Used with tuple

These are general-purpose Python functions you can use on tuple:

| Function      | Description                   | Example                                             |
| ------------- | ----------------------------- | --------------------------------------------------- |
| `len()`       | Returns number of elements    | `len((1, 2, 3)) → 3`                                |
| `max()`       | Returns the largest item      | `max((1, 5, 3)) → 5`                                |
| `min()`       | Returns the smallest item     | `min((1, 5, 3)) → 1`                                |
| `sum()`       | Returns sum of elements       | `sum((1, 2, 3)) → 6`                                |
| `sorted()`    | Returns a sorted tuple         | `sorted((3, 1, 2)) → (1, 2, 3)`                     |
| `list()`      | Converts iterable to tuple     | `tuple("abc") → ('a', 'b', 'c')`                     |
| `any()`       | True if any element is true   | `any((0, 1, False)) → True`                         |
| `all()`       | True if all elements are true | `all((1, True, 5)) → True`                          |
| `enumerate()` | Returns index-value pairs     | `tuple(enumerate(('a','b'))) → [(0, 'a'), (1, 'b')]` |
| `zip()`       | Combines multiple tuples       | `tuple(zip((1,2),(3,4))) → [(1,3), (2,4)]`           |

In [16]:
for index,value in enumerate(T3,start=1):
    print(index,value,sep=" :")

1 :1
2 :3
3 :4
4 :5
5 :7
6 :5
7 :34
8 :aaa

In [12]:
T3

(1, 3, 4, 5, 7, 5, 34, 'aaa')

In [15]:
dict(enumerate(T3))

{0: 1, 1: 3, 2: 4, 3: 5, 4: 7, 5: 5, 6: 34, 7: 'aaa'}

## tuple Methods

These are methods that only work on tuple objects:

| Method             | Description              | Example                                 |
| ------------------ | ------------------------ | --------------------------------------- |
| `index(x)`         | Returns index of x       | `(10, 20, 30).index(20) → 1`            |
| `count(x)`         | Counts occurrences       | `(1,2,2,3).count(2) → 2`                |

In [17]:
T3

(1, 3, 4, 5, 7, 5, 34, 'aaa')

In [18]:
T3.index(4)

2

In [19]:
T4=(1,1,3,2,4,3,2,3,4,12,4,3,2,4,1,2,4,3,12)
T4.count(1)

3

In [21]:
T4.count(3)

5

# Set()

s={1,3,4.6,6,"abc",(4,6,8),{11,22,33}}

In [31]:
{1,3,4.6,6,"abc","ABC",False,6+4j,(32,64),128}

{(32, 64), (6+4j), 1, 128, 3, 4.6, 6, 'ABC', False, 'abc'}

In [32]:
# empty set
s1={}
print(s1)
print(type(s1))

{}
<class 'dict'>

In [33]:
s1=set()
print(s1)
print(type(s1))

set()
<class 'set'>

In [35]:
# single element set
s2={1}
print(s2)
print(type(s2))

{1}
<class 'set'>

##  **2. Set Built-in Functions**

| Function         | Description                             | Example                          |
| ---------------- | --------------------------------------- | -------------------------------- |
| `len(set)`       | Returns the number of elements in a set | `len({1, 2, 3})  # 3`            |
| `max(set)`       | Returns the maximum value               | `max({3, 6, 1})  # 6`            |
| `min(set)`       | Returns the minimum value               | `min({3, 6, 1})  # 1`            |
| `sum(set)`       | Returns the sum of elements             | `sum({1, 2, 3})  # 6`            |
| `sorted(set)`    | Returns a sorted list                   | `sorted({3, 1, 2})  # [1, 2, 3]` |
| `all(set)`       | Returns `True` if all elements are true | `all({1, 2, 3})  # True`         |
| `any(set)`       | Returns `True` if any element is true   | `any({0, 0, 3})  # True`         |
| `enumerate(set)` | Returns enumerate object                | `list(enumerate({10, 20, 30}))`  |

##  **3. Set Methods**

| Method                 | Description                                     | Example            |
| ---------------------- | ----------------------------------------------- | ------------------ |
| `set.add(elem)`        | Adds an element to the set                      | `s.add(4)`         |
| `set.remove(elem)`     | Removes a specific element (Error if not found) | `s.remove(2)`      |
| `set.discard(elem)`    | Removes element if found (No error if not)      | `s.discard(5)`     |
| `set.pop()`            | Removes and returns an arbitrary element        | `s.pop()`          |
| `set.clear()`          | Removes all elements from the set               | `s.clear()`        |
| `set.copy()`           | Returns a shallow copy of the set               | `s2 = s.copy()`    |
| `set.update(iterable)` | Adds multiple elements from iterable            | `s.update([4, 5])` |

In [38]:
s1={23,314,5,21,341,4,24,34}
s1

{4, 5, 21, 23, 24, 34, 314, 341}

In [39]:
s1.remove(23)

In [40]:
s1

{4, 5, 21, 24, 34, 314, 341}

s1.remove(100)

In [42]:
s1.discard(24)

In [44]:
s1.discard(200)

In [46]:
s1.pop()

34

In [47]:
s1

{4, 5, 21, 314, 341}

In [48]:
s1.pop()

4

In [50]:
s1.pop()

5

In [51]:
s1

{21, 314, 341}

In [53]:
s1.update([2,4,6,7,8,9,0])
s1

{0, 2, 4, 6, 7, 8, 9, 21, 314, 341}

In [54]:
s1.add((2,4,6,7,8,9,0))
s1

{(2, 4, 6, 7, 8, 9, 0), 0, 2, 21, 314, 341, 4, 6, 7, 8, 9}

In [ ]:
##  **4. Set Operations**

1.  Union
2.  Intersection
3.  Difference
4.  Symmetric Difference