# Friday 15/08/2025

* Intro of Python (Notes in Github)

In [3]:
print("mayank bhatt")

mayank bhatt

In [2]:
print(3+5)

8

In [3]:
print(3-1)

2

# TUESDAY 19/08/2025

In [2]:
a=4
print(a)
print(id(a))

4
140737034652184

# Primitive Data Types:
 1. Integer
 2. Float
 3. String
 4. Boolean
 
# Composite Data Types:
 1. List
 2. Tuple
 3. Dictionary (Maping datatype)
 4. Set

# other data type
 1. function/module
 2. class
 3. array

# python built-in datatype
 1. None

# WEDNESDAY 20/08/2025

# Mayank This is how to write in bold

 *Mayank* this is how to write little smaller than bold one

**Mayank** to write little lighter than bold one you can use * * to make it bold and you can increase the number of stars to make it more bold

**Sub heading** we use - to make sub heading
- MAYANK
- BHATT

**To make sub heading in number** by 1. to make points  
1. Mayank
2. Bhatt

In [5]:
a=10 #this is integer variavle
print(a)

10

In [7]:
b=5.34 #this is float value
print(b)

5.34

In [8]:
c="Hello python" # this is string values 
print(c)

Hello python

In [9]:
d=4+6j # this is complex value
print(d)

(4+6j)

In [10]:
x=4+3j
y=6+2j
print(x+y)

(10+5j)

In [17]:
x=4+3j
y=6+8j
print(x+y)
print(y-x)
print(x*y)

(10+11j)
(2+5j)
50j

In [2]:
a=10
print(a,type(a))

10 <class 'int'>

# Thursday 21/08/2025

# Container datatypes

**List**

In [3]:
lst=[1,2,3,4,"Hello",None]

In [9]:
print(lst)
print(type(lst))
print(id(lst))

[1, 2, 3, 4, 'Hello', None]
<class 'list'>
2364504203648

**Rules to List**
1. List is created in [ ].
2. List is order collect of data. 
3. List is hetrogenus type of data (hetrogenus for different data type and homogenus for sigle data type).
4. List is a new table data type it can be changed.

# Tuple

In [11]:
T1 = (1,2,3,4,5,4.5,"Hello",None)
print(T1)
type(T1)

(1, 2, 3, 4, 5, 4.5, 'Hello', None)

tuple

**Rules to TUPLE**
1. Tuple is create in round ( )
2. Tuple is a ordered collection of datatype 
3. It is imuteable(unchange) datatype 
4. Hetrogenus type of data (hetrogenus for different data type and homogenus for sigle data type)
5. Tuple is fast then list because it can't be changed

# Set

In [12]:
s1 = {1,2,3,33,44444,3.444,"Hello",True}
print(s1)
type(s1)

{1, 2, 3, 3.444, 33, 'Hello', 44444}

set

**Rules for Set**
1. Set in culy { }
2. Set is unorder collection type of data 
3. Set don't have duplicate item
4. Set only have imuteable data type
5. We don't able indexing in a set
6. Set is muteable datatype

In [15]:
s2 = {1,2,3,33,(1,2,3),44444,3.444,"Hello",True}
print(s1)
type(s1)

{1, 2, 3, 3.444, 33, 'Hello', 44444}

set

# Dictionary

In [17]:
D1 = {"Key":" Value"}
print(D1)
type(D1)

{'Key': ' Value'}

dict

In [18]:
D2={
    "Name":"Mayank",
    "Age":20,
    "Contact":1234567890,
    "Address":"Delhi"
}
print(D2)

{'Name': 'Mayank', 'Age': 20, 'Contact': 1234567890, 'Address': 'Delhi'}

**Rules for Dictionary**
1. Dictionary is made in {}
2. Dictionary is collection of key value pair, when each key is unique and maps to a specific values
3. Dictionary is a order collection of data type
4. keys are imuteable but value can mutable