# Loop series

In [1]:
# sum od series of natural no.
sum = 0 
for i in range(1,11):
    sum+=i
    print(sum,end=", ")

1, 3, 6, 10, 15, 21, 28, 36, 45, 55,

In [2]:
# factorial series
f=1
for i in range(1,10):
    f*=i
    print(f,end=", ")

1, 2, 6, 24, 120, 720, 5040, 40320, 362880,

In [3]:
# 21. Print the Fibonacci sequence up to the 10th term using a for loop.
# Fibonacci series:0,1,1,2,3,5,8,13,21,34,55,89
# Way no 1
a,b=0,1
for i in range (10):
    print(a,end=", ")
    a,b=b,a+b

0, 1, 1, 2, 3, 5, 8, 13, 21, 34,

In [9]:
# print sq of first 10 number 
for i in range (1,11):
    print(i**2,end=" ")

1 4 9 16 25 36 49 64 81 100

In [11]:
# print all values which are miltples of 5 up to 50
for i in range (5,51,5):
    print(i,end=" ")

5 10 15 20 25 30 35 40 45 50

In [12]:
# print alternating series (1,-2,3,-4,5,-6)
n=10
for i in range (1,n+1):
    if i%2==0:
        print(-i,end=", ")
    else:
        print(i,end=", ")

1, -2, 3, -4, 5, -6, 7, -8, 9, -10,

In [15]:
# print harmonic series (1,1/2,1/3...)
n=10
for i in range (1,n+1):
   print(round(1/i,2),end=" ")

1.0 0.5 0.33 0.25 0.2 0.17 0.14 0.12 0.11 0.1

In [17]:
# print the series (1,11,111,1111,11111.....)
n=0
for i in range(1,6):
    n = n*10+ 1
    print(n,end=" ")

1 11 111 1111 11111

In [10]:
# print the series (0,3,8,15,24,35,...)
# (n**2-1)
for i in range(1,11):
    print(i**2-1)

0
3
8
15
24
35
48
63
80
99

In [9]:
# print the series of powerd of 3 up to 10 term
for i in range (1,11):
    a=3**i
    print(a,end=",")

3,9,27,81,243,729,2187,6561,19683,59049,

In [10]:
# to print a box
for col in range(5):
    # print(col)
    for row in range(5):
        print(row,end=" ")
    print()

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [12]:
# box of list
L1=[[1,2,3],[4,5,6],[7,8,9]]
for i in L1:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [14]:
# list to simple number
L1=[[1,2,3],[4,5,6],[7,8,9]]
for i in L1:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

In [18]:
# nexted list to one list
new_list = []
L1=[[1,2,3],[4,5,6],[7,8,9]]
for i in L1:
    for j in i:
        new_list.append(j)
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
# first 10 prime numbers 
x = []
for a in range(2, 101): 
    for i in range(2, a):
        if a % i == 0:
            break
    else:
        x.append(a)
        if len(x) == 10:
            break
print(x)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [19]:
# sum if all no in list
new_list = []
L1=[[1,2,3],[4,5,6],[7,8,9]]
for i in L1:
    for j in i:
        new_list.append(j)
print(sum(new_list))

45

In [24]:
# sum if all no in list
total =0
new_list=[]
for i in L1:
    for j in i:
        total +=j
print(total)

45

In [23]:
# print min and max from list
new_list = []
L1=[[1,2,3],[4,5,6],[7,8,9]]
for i in L1:
    for j in i:
        new_list.append(j)
print(max(new_list))
print(min(new_list))

9
1

In [29]:
# Max value from list
L1=[[1,2,3],[4,5,6],[7,8,9]]
max_value = L1[0][0]
for row in L1:
    for col in row:
        if max_value<col:
            max_value=col
print(max_value)

9

In [2]:
# Min value from list
L1=[[1,2,3],[4,5,6],[7,8,9]]
min_value = L1[0][0]
for row in L1:
    for col in row:
        if min_value>col:
            min_value=col
print(min_value)

1

In [32]:
# print the table 
n = int(input("Enter the no: "))
for i in range(1,11):
    print(f"{n} x {i} ={n*i}")

Enter the no:  3

3 x 1 =3
3 x 2 =6
3 x 3 =9
3 x 4 =12
3 x 5 =15
3 x 6 =18
3 x 7 =21
3 x 8 =24
3 x 9 =27
3 x 10 =30

In [52]:
# print tie table from 1 to 10
for n in range(1,11):
    for i in range(1,11):
        print(f"{i}x{n}={n*i}",end="\t")
    print()

1x1=1	2x1=2	3x1=3	4x1=4	5x1=5	6x1=6	7x1=7	8x1=8	9x1=9	10x1=10
1x2=2	2x2=4	3x2=6	4x2=8	5x2=10	6x2=12	7x2=14	8x2=16	9x2=18	10x2=20
1x3=3	2x3=6	3x3=9	4x3=12	5x3=15	6x3=18	7x3=21	8x3=24	9x3=27	10x3=30
1x4=4	2x4=8	3x4=12	4x4=16	5x4=20	6x4=24	7x4=28	8x4=32	9x4=36	10x4=40
1x5=5	2x5=10	3x5=15	4x5=20	5x5=25	6x5=30	7x5=35	8x5=40	9x5=45	10x5=50
1x6=6	2x6=12	3x6=18	4x6=24	5x6=30	6x6=36	7x6=42	8x6=48	9x6=54	10x6=60
1x7=7	2x7=14	3x7=21	4x7=28	5x7=35	6x7=42	7x7=49	8x7=56	9x7=63	10x7=70
1x8=8	2x8=16	3x8=24	4x8=32	5x8=40	6x8=48	7x8=56	8x8=64	9x8=72	10x8=80
1x9=9	2x9=18	3x9=27	4x9=36	5x9=45	6x9=54	7x9=63	8x9=72	9x9=81	10x9=90
1x10=10	2x10=20	3x10=30	4x10=40	5x10=50	6x10=60	7x10=70	8x10=80	9x10=90	10x10=100