In [9]:
# 1. Print numbers from 1 to 10 using a for loop.
for i in range(11):
    print(i,end = ' ')

0 1 2 3 4 5 6 7 8 9 10

In [2]:
# 2. Print the squares of numbers from 1 to 10 using a for loop.
for i in range(1,11):
    print(f" {i} ka sq hai = ",i**2)

 1 ka sq hai =  1
 2 ka sq hai =  4
 3 ka sq hai =  9
 4 ka sq hai =  16
 5 ka sq hai =  25
 6 ka sq hai =  36
 7 ka sq hai =  49
 8 ka sq hai =  64
 9 ka sq hai =  81
 10 ka sq hai =  100

In [3]:
# 3. Print the cubes of numbers from 1 to 10 using a for loop.
for i in range(1,11):
    print(f" {i} ka cubes hai = ",i**3)

 1 ka cubes hai =  1
 2 ka cubes hai =  8
 3 ka cubes hai =  27
 4 ka cubes hai =  64
 5 ka cubes hai =  125
 6 ka cubes hai =  216
 7 ka cubes hai =  343
 8 ka cubes hai =  512
 9 ka cubes hai =  729
 10 ka cubes hai =  1000

In [10]:
# 4. Print the sum of numbers from 1 to 10 using a for loop.
Sum = 0
for i in range(1,11):
    Sum +=i
print(Sum)

55

In [5]:
# 5. Print the product of numbers from 1 to 5 using a for loop.
product = 1
for i in range(1, 6):
    product *= i
print("The product of numbers from 1 to 5 is:", product)

The product of numbers from 1 to 5 is: 120

In [10]:
# 6. Print the numbers from 10 to 1 in reverse order using a for loop.
for i in range(10,0,-1):
    print(i,end = ',')

10,9,8,7,6,5,4,3,2,1,

In [11]:
# 7. Print the even numbers from 1 to 10 using a for loop.
for i in range (0,11,2):
    print(i,end = ',')

0,2,4,6,8,10,

In [12]:
# 8. Print the odd numbers from 1 to 10 using a for loop.
for i in range (11):
    if i%2!=0:
        print(i,end = ',')

1,3,5,7,9,

In [13]:
# 9. Print the numbers from 1 to 10 that are divisible by 3 using a for loop.
for i in range(1, 11):
    if i % 3 == 0:
        print(i,end = ',')

3,6,9,

In [14]:
# 10. Print the numbers from 1 to 10 that are not divisible by 2 or 3 using a for loop.
for i in range (11):
    if i%2!=0 and i%3!=0:
        print(i,end = ',')

1,5,7,

In [11]:
# 11. Count how many numbers from 1 to 100 are divisible by 7.
count=0
for i in range (100):
    if i%7==0:
        count +=1
print(count)

15

In [8]:
# 12. Print numbers from 100 to 1 that are divisible by both 3 and 4.
for i in range (101):
    if i%3==0 and i%4==0:
        print(i,end = ',')

0,12,24,36,48,60,72,84,96,

In [13]:
# 13. Print the factorial of a number (e.g., 5!) using a loop.
a = 1
num = 5
for i in range (1,num+1):
    a *= i
print("Factorial of ",num,"is: ",a)

Factorial of  5 is:  120

In [14]:
# 14. Print the sum of all even numbers from 1 to 50.
total = 0
for i in range(1, 51):
    if i % 2 == 0:
        total += i
print("The sum of all even numbers from 1 to 50 is:", total)

The sum of all even numbers from 1 to 50 is: 650

In [4]:
# 15. Print the difference between the sum of odd and even numbers from 1 to 20.
even = 0
odd = 0
for i in range(1,21):
    if i%2 == 0:
        even +=i
    else:
        odd +=i
print("Sum of even :",even)   
print("Sum of odd :",odd)
print("Diffrence :",even-odd)

Sum of even : 110
Sum of odd : 100
Diffrence : 10

In [15]:
# 16. Print the product of all numbers from 1 to 6.
product = 1
for i in range(1, 7): 
    product *= i
print("The product of numbers from 1 to 6 is:", product)

The product of numbers from 1 to 6 is: 720

In [16]:
# 17. Print the ASCII values of characters 'A' to 'Z'.
for i in range (65,91):
    print(chr(i),end=",")

A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z,

In [17]:
# 18. Program to print the squares of odd numbers from 1 to 15
for i in range(1, 16):   
    if i % 2 != 0:      
        print(f"{i}^2 = {i*i}")

1^2 = 1
3^2 = 9
5^2 = 25
7^2 = 49
9^2 = 81
11^2 = 121
13^2 = 169
15^2 = 225

In [7]:
# 19. Print the first 10 multiples of any number (e.g., 7).
num = int(input("Enter a number: "))
print(f"The first 10 multiples of {num} are:")
for i in range(1, 11):
    print(num * i,end = ',')

Enter a number:  4

The first 10 multiples of 4 are:
4,8,12,16,20,24,28,32,36,40,

In [19]:
# 20. Sum of numbers from 1 to 100 that are not divisible by 3
total = 0
for i in range(1, 101):
    if i % 3 != 0:
        total += i
print("Sum =", total)

Sum = 3367

In [15]:
# 21. Numbers between 1 and 100 ending with 7
for i in range(1, 101):
    if i % 10 == 7:
        print(i, end=",")

7,17,27,37,47,57,67,77,87,97,

In [6]:
# 22. Count how many numbers 1–100 have a digit 5
for i in range(1, 101):
    if "5" in str(i):
        print(i,end = ',')

5,15,25,35,45,50,51,52,53,54,55,56,57,58,59,65,75,85,95,

In [18]:
# 23. Reverse of a number using for-loop over string
rev=""
No = int(input("Enter the no: "))
for i in str(No):
    rev = i+ rev
print(int(rev))

Enter the no:  234

432

In [16]:
# 24. Numbers from 1 to 50 skipping every 5th
for i in range(1, 51,5):
    print(i, end=",")

1,6,11,16,21,26,31,36,41,46,

In [27]:
# 25. Total count of digits used from 1 to 20
count = 0
for i in range(1, 21):
    count += len(str(i))
print("Total digits used:", count)

Total digits used: 31

In [20]:
name="mayank"
rev=""
for i in name:
    rev=i+rev
print(rev)

knayam

In [1]:
# 11. Print the elements of a list using a for loop.
L1=[1,2,3,4,5,6,7,8,9,10]
for i in L1:
    print(i,end = ',')

1,2,3,4,5,6,7,8,9,10,

In [2]:
# 12. Print the indices and values of a list using a for loop.
# Way no 1
my_list = ["apple", "banana", "cherry", "date"]
for index in range(len(my_list)):
    print("Index:", index, "Value:", my_list[index])

Index: 0 Value: apple
Index: 1 Value: banana
Index: 2 Value: cherry
Index: 3 Value: date

In [16]:
# way no 2 
my_list = ["apple", "banana", "cherry", "date"]
for index,i in enumerate(my_list,start=1):
    print(index,i,sep=" : ")

1 : apple
2 : banana
3 : cherry
4 : date

In [20]:
# way no 3 
my_list = ["apple", "banana", "cherry", "date"]
count=1
for i in my_list:
    print(count,i,sep=" : ")
    count+=1

1 : apple
2 : banana
3 : cherry
4 : date

In [3]:
# 13. Calculate the sum of the elements of a list using a for loop.
numbers = [10, 20, 30, 40, 50]
total = 0
for num in numbers:
    total += num
print("Sum of elements:", total)

Sum of elements: 150

In [3]:
# 14. Find the maximum element in a list using a for loop.
numbers = [5, 8, 2, 10, 3, 7]
max_num = numbers[0]
for num in numbers:
    if num > max_num:
        max_num = num
print("The maximum element is:", max_num)

The maximum element is: 10

In [4]:
# 15. Find the minimum element in a list using a for loop.
numbers = [5, 8, 2, 10, 3, 7]
min_num = numbers[0]
for num in numbers:
    if num < min_num:
        min_num = num
print("The min element is:", min_num)

The min element is: 2

In [5]:
# 16. Count the number of occurrences of a specific element in a list using a for loop.
# Way no 1 with count
L1 = [1,2,3,4,5,6,7,8,9,0,4,5,6,7,8,9,0,9,8,7,6,5,4]
count={}
for i in L1:
    count[i]=L1.count(i)
print(count)

{1: 1, 2: 1, 3: 1, 4: 3, 5: 3, 6: 3, 7: 3, 8: 3, 9: 3, 0: 2}

In [14]:
# way no 2 without count 
L1 = [1,2,3,4,5,6,7,8,9,0,4,5,6,7,8,9,0,9,8,7,6,5,4]
count={}
for i in L1:
    if i not in count:
        count[i]= 1
    else:
        count[i] += 1
print(count)

{1: 1, 2: 1, 3: 1, 4: 3, 5: 3, 6: 3, 7: 3, 8: 3, 9: 3, 0: 2}

In [7]:
# 17. Create a new list with the squares of the elements of another list using a for loop.
numbers = [1, 2, 3, 4, 5]
squares = []
for num in numbers:
    squares.append(num ** 2)
print("Original list:", numbers)
print("List of squares:", squares)

Original list: [1, 2, 3, 4, 5]
List of squares: [1, 4, 9, 16, 25]

In [27]:
# 18. Create a new list with the elements of another list in reverse order using a for loop.
# way no 1
L2 = ["apple", "banana", "cherry", "date"]
for i in L2[::-1]:
    print([i])

['date', 'cherry', 'banana', 'apple']

In [31]:
# way no 2
L2 = ["apple", "banana", "cherry", "date"]
for i in range (len(L2)-1,-1,-1):
    print(L2[i])

date
cherry
banana
apple

In [37]:
# way no 3
new_list=[]
for i in range(len(L2)-1,-1,-1):
    new_list.append(L2[i])
print(new_list)

['date', 'cherry', 'banana', 'apple']

In [38]:
# way no 4
new_list=[]
for i in range(1,len(L2)+1):
    new_list.append(L2[-i])
print(new_list)

['date', 'cherry', 'banana', 'apple']

In [52]:
# way no 5
L2 = ["apple", "banana", "cherry", "date"]
new_list=[]
for i,v in enumerate(L2,1):
    new_list.append(L2[-i])
print(new_list)

['date', 'cherry', 'banana', 'apple']

In [3]:
# way no 6 
L2 = ["apple", "banana", "cherry", "date"]
length=len(L2)
rev_list=[]
for i in range(length):
    rev_list.append(L2.pop())
print(rev_list)

['date', 'cherry', 'banana', 'apple']

In [8]:
# 19. Find the average of the elements of a list using a for loop.
numbers = [10, 20, 30, 40, 50]
total = 0
for num in numbers:
    total += num
average = total / len(numbers)
print("Average of elements:", average)

Average of elements: 30.0

In [9]:
# 20. Check if a specific element exists in a list using a for loop.

In [10]:
# 21. Print the Fibonacci sequence up to the 10th term using a for loop.
# Fibonacci series:0,1,1,2,3,5,8,13,21,34,55,89
# Way no 1
a,b=0,1
for i in range (10):
    print(a,end=", ")
    a,b=b,a+b

0, 1, 1, 2, 3, 5, 8, 13, 21, 34,

In [11]:
# way no 2 
a,b=0,1
for i in range (10):
    print(a,end=", ")
    temp=a
    a=b
    b=temp+b

0, 1, 1, 2, 3, 5, 8, 13, 21, 34,

In [4]:
# 22. Calculate the factorial of a number using a for loop.
n = int(input("Enter a number: "))
f = 1
for i in range(1, n + 1):
    f *= i
print(f"Factorial of {n} is: {f}")

Enter a number:  10

Factorial of 10 is: 3628800

In [5]:
# factorial pattern
f = 1
for i in range(1,10):
    f*=i
    print(f,end=", ")

1, 2, 6, 24, 120, 720, 5040, 40320, 362880,

In [8]:
# 23. Print the prime numbers from 1 to 100 using a for loop.
x = []
for a in range(2, 101): 
    for i in range(2, a):
        if a % i == 0:
            break
    else:
        x.append(a)
print(x)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [11]:
# 24. Find the greatest common divisor (GCD) of two numbers using a for loop.

In [ ]:
# 25. Create a new list with the elements of another list that satisfy a certain condition using a for loop.

In [14]:
# 26. Print the multiplication table of a number using a for loop.
for n in range(1,11):
    for i in range(1,11):
        print(f"{i}x{n}={n*i}",end="\t")
    print()

1x1=1	2x1=2	3x1=3	4x1=4	5x1=5	6x1=6	7x1=7	8x1=8	9x1=9	10x1=10
1x2=2	2x2=4	3x2=6	4x2=8	5x2=10	6x2=12	7x2=14	8x2=16	9x2=18	10x2=20
1x3=3	2x3=6	3x3=9	4x3=12	5x3=15	6x3=18	7x3=21	8x3=24	9x3=27	10x3=30
1x4=4	2x4=8	3x4=12	4x4=16	5x4=20	6x4=24	7x4=28	8x4=32	9x4=36	10x4=40
1x5=5	2x5=10	3x5=15	4x5=20	5x5=25	6x5=30	7x5=35	8x5=40	9x5=45	10x5=50
1x6=6	2x6=12	3x6=18	4x6=24	5x6=30	6x6=36	7x6=42	8x6=48	9x6=54	10x6=60
1x7=7	2x7=14	3x7=21	4x7=28	5x7=35	6x7=42	7x7=49	8x7=56	9x7=63	10x7=70
1x8=8	2x8=16	3x8=24	4x8=32	5x8=40	6x8=48	7x8=56	8x8=64	9x8=72	10x8=80
1x9=9	2x9=18	3x9=27	4x9=36	5x9=45	6x9=54	7x9=63	8x9=72	9x9=81	10x9=90
1x10=10	2x10=20	3x10=30	4x10=40	5x10=50	6x10=60	7x10=70	8x10=80	9x10=90	10x10=100

In [24]:
# 27. Calculate the sum of the squares of the elements of a list using a for loop.
a = []
for i in range(1, 11):
    a.append(i**2)
print("Sum of sq:",sum(a))

Sum of sq: 385

In [33]:
# 28. Find the maximum and minimum elements in a list using a for loop.
new_list = []
L1=[[1,2,3],[4,5,6],[7,8,9]]
for i in L1:
    for j in i:
        new_list.append(j)
print("Max no:",max(new_list))
print("Min no:",min(new_list))

Max no: 9
Min no: 1

In [36]:
# 29. Create a new list with the elements of another list that are not duplicates using a for loop.
L1 = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
new_list= []
for n in L1:
    if n not in new_list:
        new_list.append(n)
print(new_list)

[1, 2, 3, 4, 5, 6, 7]

In [3]:
# 30. Print the numbers from 1 to 100 that are divisible by 7 using a for loop.
for i in range(7,101,7):
    print(i,end=",")

7,14,21,28,35,42,49,56,63,70,77,84,91,98,

In [6]:
# 31. Calculate the product of the elements of a list using a for loop.
n = [1, 2, 3, 4, 5]
p = 1
for i in n:
    p *= i 
print("Numbers:", n)
print("Product of elements:", p)

Numbers: [1, 2, 3, 4, 5]
Product of elements: 120

In [17]:
# 32. Find the average of the squares of the elements of a list using a for loop.
n = [1, 2, 3, 4, 5]
L1 = []
t = 0

for i in n:
    sq = i ** 2
    L1.append(sq)
    t += sq

a = t / len(n)

print("Numbers:", n)
print("Squares:", L1)
print("Average of squares:", a)

Numbers: [1, 2, 3, 4, 5]
Squares: [1, 4, 9, 16, 25]
Average of squares: 11.0

In [21]:
# 33. Print the elements of a list in uppercase using a for loop.
words = ["hello", "world", "python", "data"]

for word in words:
    print(word.upper())

HELLO
WORLD
PYTHON
DATA

In [30]:
# 34. Create a new list with the elements of another list that are in a certain range using a for loop.
numbers = [5, 12, 25, 40, 55, 70, 33, 18]
new_list = []

for num in numbers:
    if 10 <= num <= 50: 
        new_list.append(num)

print("Original list:", numbers)
print("Filtered list (10–50):", new_list)

Original list: [5, 12, 25, 40, 55, 70, 33, 18]
Filtered list (10–50): [12, 25, 40, 33, 18]

In [25]:
# 35. Find the sum of the cubes of the elements of a list using a for loop.
n = [1, 2, 3, 4, 5]
L1 = []
t = 0

for i in n:
    sq = i ** 3
    L1.append(sq)
    t += sq

print("Numbers:", n)
print("Cubes:", sum(L1))

Numbers: [1, 2, 3, 4, 5]
Cubes: 225

In [29]:
# 36. Print the numbers from 1 to 100 that are not divisible by 3 or 5 using a for loop.
for num in range(1, 101):
    if num % 3 != 0 and num % 5 != 0: 
        print(num, end=",")

1,2,4,7,8,11,13,14,16,17,19,22,23,26,28,29,31,32,34,37,38,41,43,44,46,47,49,52,53,56,58,59,61,62,64,67,68,71,73,74,76,77,79,82,83,86,88,89,91,92,94,97,98,

In [33]:
# 37. Calculate the sum of the elements of a list that satisfy a certain condition using a for loop.
numbers = [5, 12, 25, 40, 55, 70, 33, 18]
new_list = []

for num in numbers:
    if 25 <= num: 
        new_list.append(num)

print(sum(new_list))

223

In [40]:
# 38. Create a new list with the elements of another list that are in reverse alphabetical order using a for loop.
L1 = ["Mayank","Bhatt"]

for i in range(len(L1)-1, -1, -1):
    print(L1[i])

Bhatt
Mayank

In [6]:
# 39. Find the maximum length of a string in a list using a for loop.
words = ["python", "data", "analytics", "AI", "machinelearning"]
max_length = 0
for word in words:
    if len(word) >= max_length:
        max_length = len(word)
print("Maximum string length:", max_length)

Maximum string length: 15

In [50]:
# 40. Print the elements of a list that contain a certain substring using a for loop.
words = ["apple", "banana", "grape", "pineapple", "apricot", "mango"]

substring = "ap"

for word in words:
    if substring in word:   
        print(word)

apple
grape
pineapple
apricot

In [51]:
# 41. Calculate the sum of the lengths of the strings in a list using a for loop.
words = ["apple", "banana", "kiwi", "grapefruit"]
total_length = 0

for word in words:
    total_length += len(word) 

print("Total length:", total_length)

Total length: 25

In [ ]:
# 42. Create a new list with the elements of another list that are sorted in alphabetical order using a for loop.

In [8]:
# 43. Find the minimum value in a dictionary using a for loop.
scores = {"Alice": 85, "Bob": 72, "Charlie": 90, "Diana": 68}
a = []
for value in scores.values():
    a.append(value)
print(max(a))

90

In [22]:
# 44. Print the keys and values of a dictionary using a for loop.
scores = {"Alice": 85, "Bob": 72, "Charlie": 90, "Diana": 68}
for key,value in scores.items():
    print(key,end=" ")
for key,value in scores.items():
    print(value,end=" ")

Alice Bob Charlie Diana 85 72 90 68

In [10]:
# 45. Calculate the sum of the values in a dictionary using a for loop.
scores = {"Alice": 85, "Bob": 72, "Charlie": 90, "Diana": 68}
total = 0

for value in scores.values():
    total += value
    
print("Sum of values:", total)

Sum of values: 315

In [13]:
# 46. Create a new dictionary with the keys and values of another dictionary that satisfy a certain condition using a for loop.
keys = []
value = []
scores = {"Alice": 85, "Bob": 72, "Charlie": 90, "Diana": 68}

for k in scores.keys():
    keys.append(k)
for v in scores.values():
    value.append(v)

print("Keys",keys,end=" ""\n")
print("Values",value,end=" ")

Keys ['Alice', 'Bob', 'Charlie', 'Diana']
Values [85, 72, 90, 68]

In [14]:
# 47. Find the maximum value in a dictionary using a for loop.
value = []
scores = {"Alice": 85, "Bob": 72, "Charlie": 90, "Diana": 68}
for v in scores.values():
    value.append(v)
print("Sum of Values",max(value),end=" ")

Sum of Values 90

In [ ]:
# 48. Print the elements of a set using a for loop.

In [ ]:
# 49. Calculate the sum of the elements of a set using a for loop.

In [ ]:
# 50. Create a new set with the elements of another set that satisfy a certain condition using a for loop.