In [2]:
# 1. Square of all elements using map
no = [1,2,3]
list(map(lambda x:x**2,no))

[1, 4, 9]

In [6]:
# 2. Convert all strings to uppercase using map
words = ['hello', 'world']
list(map(str.upper, words))

['HELLO', 'WORLD']

In [7]:
# 3. Add 5 to each element using map
no = [10, 20, 30]
list(map(lambda x: x + 5, no))

[15, 25, 35]

In [1]:
# 4. Convert float to int using map
data = [2.5, 3.1, 4.7]
list(map(int, data))

[2, 3, 4]

In [2]:
# 5. Length of each word using map
words = ['hi', 'hello', 'python']
list(map(len, words))

[2, 5, 6]

In [3]:
# 6. Filter even numbers using filter
no = [1, 2, 3, 4, 5, 6]
list(filter(lambda x: x % 2 == 0, no))

[2, 4, 6]

In [5]:
# 7. Filter strings starting with 'a'
words = ['apple', 'banana', 'avocado']
list(filter(lambda x: x.startswith('a'), words))

['apple', 'avocado']

In [36]:
# 8. Filter numbers greater than 10
no = [5, 15, 8, 20]
list(filter(lambda x: x > 10, no))

[15, 20]

In [37]:
# 9. Filter positive numbers
no = [-1, 0, 2, -3, 4]
Ans = list(filter(lambda x: x > 0, no))
print(Ans)

[2, 4]

In [39]:
# 10. Filter palindromes
words = ['madam', 'car', 'level']
result = list(filter(lambda x: x == x[::-1], words))
print(result)

['madam', 'level']

In [16]:
from functools import reduce

In [18]:
# 11. Multiply all elements using reduce
no = [1, 2, 3, 4]
reduce(lambda x, y: x * y, nums)

18

In [19]:
# 12. Find maximum using reduce
nums = [1, 4, 2, 10]
reduce(lambda x, y: x if x > y else y, nums)

10

In [15]:
# 13. Find minimum using reduce
nums = [3, 1, 6]
reduce(lambda x, y: x if x < y else y, nums)

1

# 14. Sum of squares using map + reduce
from functools import reduce
nums = [1, 2, 3]
squares = map(lambda x: x*x, nums)
result = reduce(lambda x, y: x + y, squares)
print(result)

# 15. Filter + Map: Square even numbers
no = [1, 2, 3, 4]
list(map(lambda x: x**2, filter(lambda x: x%2==0, no)))

In [25]:
# 16. Add corresponding elements of two lists using map
a = [1, 2, 3]
b = [4, 5, 6]
list(map(lambda x, y: x + y, a, b))

[5, 7, 9]

# 17. Concatenate strings using reduce
words = ['I', 'am', 'GPT']
reduce(lambda x, y: x + ' ' + y, words)

In [26]:
# 18. Convert string of digits to int list using map
s = '12345'
list(map(int, s))

[1, 2, 3, 4, 5]

In [27]:
# 19. Filter strings with length > 3
words = ['hi', 'hello', 'go']
list(filter(lambda x: len(x) > 3, words))

['hello']

In [28]:
# 20. Filter numbers divisible by 3
nums = [3, 6, 7, 8]
list(filter(lambda x: x % 3 == 0, nums))

[3, 6]

# 21. Reduce: Calculate factorial
n = 5
result = reduce(lambda x, y: x*y, range(1, n+1))
print(result)

In [29]:
# 22. Convert list of strings to int using map
data = ['1', '2', '3']
list(map(int, data))

[1, 2, 3]

In [30]:
# 23. Capitalize all words using map
words = ['apple', 'banana']
list(map(str.capitalize, words))

['Apple', 'Banana']

In [31]:
# 24. Filter words containing 'o'
words = ['top', 'hat', 'coat']
list(filter(lambda x: 'o' in x, words))

['top', 'coat']

In [32]:
# 25. Sum of all digits in list
data = [1, 2, 3]
reduce(lambda x, y: x + y, data)

6

In [33]:
# 26. Convert Celsius to Fahrenheit using map
temps = [0, 20, 30]
list(map(lambda c: (9/5)*c + 32, temps))

[32.0, 68.0, 86.0]

# 27. Filter non-empty strings
data = ['', 'hello', '', 'world']
list(filter(None, data))