# List Comprehension

In [1]:
L1 = [1,2,3,4,5,6,7]

In [2]:
L1 = list(range(1,11))
L1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
#   exp.     itration
L1=[ x        for x in range(1,11)]
L1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
# sq of a list 1 to 10 
L1 = [x**2 for x in range(1,11)]
L1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
l = [23,32,23,12,34,25,46,54,2]
L1 = [x for x in l if x%2==0]
L2 = [x for x in l if x%2!=0]
print(L1)
print(L2)

[32, 12, 34, 46, 54, 2]
[23, 23, 25]

In [16]:
# 2. Create a new list that contains only even numbers from a given list.
List= [10, 15, 20, 25, 30]
L1 = [x for x in List if x%2==0]
L1

[10, 20, 30]

In [35]:
# 3. Extract all names that start with the letter ‘A’ using list comprehension.
names = ["Amit", "Rahul", "Anuj", "Sahil", "Aman"]
result = [name for name in names if name.startswith("A")]
print(result)

['Amit', 'Anuj', 'Aman']

In [34]:
# 4. Convert all strings in a list to uppercase using list comprehension.
words = ["mayank", "bhatt", "python", "coding"]
result = [w.upper() for w in words]
print(result)

['MAYANK', 'BHATT', 'PYTHON', 'CODING']

In [33]:
# 5. From a list of numbers, create a list of tuples where each tuple contains (number, square).
Lst =  [1, 2, 3, 4, 5]
[(i,i**2) for i in Lst]

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
# tuple
List= [1, 2, 3, 4, 5]
tuple((i,i**2) for i in List)

In [ ]:
# dictionary
List= [1, 2, 3, 4, 5]
{(i,i**2) for i in List}

In [ ]:
# set
List= [1, 2, 3, 4, 5]
{(i,i**2) for i in List}

In [37]:
l = ["mayank","bhatt"]
{i:len(i) for i in l}

{'mayank': 6, 'bhatt': 5}