# Loop series and Patterns

In [1]:
# sum od series of natural no.
sum = 0 
for i in range(1,11):
    sum+=i
    print(sum,end=", ")

1, 3, 6, 10, 15, 21, 28, 36, 45, 55,

In [2]:
# factorial series
f=1
for i in range(1,10):
    f*=i
    print(f,end=", ")

1, 2, 6, 24, 120, 720, 5040, 40320, 362880,

In [3]:
# 21. Print the Fibonacci sequence up to the 10th term using a for loop.
# Fibonacci series:0,1,1,2,3,5,8,13,21,34,55,89
# Way no 1
a,b=0,1
for i in range (10):
    print(a,end=", ")
    a,b=b,a+b

0, 1, 1, 2, 3, 5, 8, 13, 21, 34,

In [9]:
# print sq of first 10 number 
for i in range (1,11):
    print(i**2,end=" ")

1 4 9 16 25 36 49 64 81 100

In [11]:
# print all values which are miltples of 5 up to 50
for i in range (5,51,5):
    print(i,end=" ")

5 10 15 20 25 30 35 40 45 50

In [12]:
# print alternating series (1,-2,3,-4,5,-6)
n=10
for i in range (1,n+1):
    if i%2==0:
        print(-i,end=", ")
    else:
        print(i,end=", ")

1, -2, 3, -4, 5, -6, 7, -8, 9, -10,

In [15]:
# print harmonic series (1,1/2,1/3...)
n=10
for i in range (1,n+1):
   print(round(1/i,2),end=" ")

1.0 0.5 0.33 0.25 0.2 0.17 0.14 0.12 0.11 0.1

In [17]:
# print the series (1,11,111,1111,11111.....)
n=0
for i in range(1,6):
    n = n*10+ 1
    print(n,end=" ")

1 11 111 1111 11111

In [18]:
# print the series (0,3,8,15,24,35,...)
# (n**2-1)
for i in range(1,11):
    print(i**2-1)

0
3
8
15
24
35
48
63
80
99

In [20]:
# print the series of powerd of 3 up to 10 term
for i in range (1,11):
    a=3**i
    print(a,end=",")

3,9,27,81,243,729,2187,6561,19683,59049,

In [22]:
# print prime no
# 2,3,5,7,11,13,17,19,23,29,...
n = 7
for i in range (2,n):
    if n%i==0:
        print("Not prime")
        break
else:
    ("prime")