In [1]:
# 1. Print numbers from 1 to 10 using a for loop.
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [2]:
# 2. Print the squares of numbers from 1 to 10 using a for loop.
for i in range(1,11):
    print(f" {i} ka sq hai = ",i**2)

 1 ka sq hai =  1
 2 ka sq hai =  4
 3 ka sq hai =  9
 4 ka sq hai =  16
 5 ka sq hai =  25
 6 ka sq hai =  36
 7 ka sq hai =  49
 8 ka sq hai =  64
 9 ka sq hai =  81
 10 ka sq hai =  100

In [3]:
# 3. Print the cubes of numbers from 1 to 10 using a for loop.
for i in range(1,11):
    print(f" {i} ka cubes hai = ",i**3)

 1 ka cubes hai =  1
 2 ka cubes hai =  8
 3 ka cubes hai =  27
 4 ka cubes hai =  64
 5 ka cubes hai =  125
 6 ka cubes hai =  216
 7 ka cubes hai =  343
 8 ka cubes hai =  512
 9 ka cubes hai =  729
 10 ka cubes hai =  1000

In [4]:
# 4. Print the sum of numbers from 1 to 10 using a for loop.
n = 10 
Sum = 0
for i in range(1,n+1):
    Sum +=i
print(Sum)

55

In [5]:
# 5. Print the product of numbers from 1 to 5 using a for loop.
product = 1
for i in range(1, 6):
    product *= i
print("The product of numbers from 1 to 5 is:", product)

The product of numbers from 1 to 5 is: 120

In [6]:
# 6. Print the numbers from 10 to 1 in reverse order using a for loop.
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [7]:
# 7. Print the even numbers from 1 to 10 using a for loop.
for i in range (0,11,2):
    print(i)

0
2
4
6
8
10

In [8]:
# 8. Print the odd numbers from 1 to 10 using a for loop.
for i in range (11):
    if i%2!=0:
        print(i)

1
3
5
7
9

In [9]:
# 9. Print the numbers from 1 to 10 that are divisible by 3 using a for loop.
for i in range(1, 11):
    if i % 3 == 0:
        print(i)

3
6
9

In [10]:
# 10. Print the numbers from 1 to 10 that are not divisible by 2 or 3 using a for loop.
for i in range (11):
    if i%2!=0 and i%3!=0:
        print(i)

1
5
7

In [11]:
# 11. Count how many numbers from 1 to 100 are divisible by 7.
count=0
for i in range (100):
    if i%7==0:
        count +=1
print(count)

15

In [12]:
# 12. Print numbers from 100 to 1 that are divisible by both 3 and 4.
for i in range (101):
    if i%3==0 and i%4==0:
        print(i)

0
12
24
36
48
60
72
84
96

In [13]:
# 13. Print the factorial of a number (e.g., 5!) using a loop.
a = 1
num = 5
for i in range (1,num+1):
    a *= i
print("Factorial of ",num,"is: ",a)

Factorial of  5 is:  120

In [14]:
# 14. Print the sum of all even numbers from 1 to 50.
total = 0
for i in range(1, 51):
    if i % 2 == 0:
        total += i
print("The sum of all even numbers from 1 to 50 is:", total)

The sum of all even numbers from 1 to 50 is: 650

In [ ]:
# 15. Print the difference between the sum of odd and even numbers from 1 to 20.

In [15]:
# 16. Print the product of all numbers from 1 to 6.
product = 1
for i in range(1, 7): 
    product *= i
print("The product of numbers from 1 to 6 is:", product)

The product of numbers from 1 to 6 is: 720

In [16]:
# 17. Print the ASCII values of characters 'A' to 'Z'.
for i in range (65,91):
    print(chr(i),end=",")

A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z,

In [17]:
# 18. Program to print the squares of odd numbers from 1 to 15
for i in range(1, 16):   
    if i % 2 != 0:      
        print(f"{i}^2 = {i*i}")

1^2 = 1
3^2 = 9
5^2 = 25
7^2 = 49
9^2 = 81
11^2 = 121
13^2 = 169
15^2 = 225

In [18]:
# 19. Print the first 10 multiples of any number (e.g., 7).
num = int(input("Enter a number: "))
print(f"The first 10 multiples of {num} are:")
for i in range(1, 11):
    print(num * i)

Enter a number:  7

The first 10 multiples of 7 are:
7
14
21
28
35
42
49
56
63
70

In [19]:
# 20. Sum of numbers from 1 to 100 that are not divisible by 3
total = 0
for i in range(1, 101):
    if i % 3 != 0:
        total += i
print("Sum =", total)

Sum = 3367

In [20]:
# 21. Numbers between 1 and 100 ending with 7
for i in range(1, 101):
    if i % 10 == 7:
        print(i, end=" ")

7 17 27 37 47 57 67 77 87 97

In [22]:
# 22. Count how many numbers 1â€“100 have a digit 5

In [24]:
# 23. Reverse of a number using for-loop over string

In [26]:
# 24. Numbers from 1 to 50 skipping every 5th
for i in range(1, 51,5):
    print(i, end=" ")

1 6 11 16 21 26 31 36 41 46

In [27]:
# 25. Total count of digits used from 1 to 20
count = 0
for i in range(1, 21):
    count += len(str(i))
print("Total digits used:", count)

Total digits used: 31