# Friday 12/09/2025

In [1]:
name="Mayank"
print(name[0])

M

In [2]:
# for loop
for i in name:
    print(i)

M
a
y
a
n
k

In [15]:
# string
name="Hello, World"
for i in name:
    print(i)

H
e
l
l
o
,

W
o
r
l
d

In [9]:
# List
name=["Hello","World"]
for i in name:
    print(i)

Hello
World

In [14]:
# Tuple
name=("Hello","World")
for i in name:
    print(i)

Hello
World

In [8]:
# Set
name={"Hello","World"}
for i in name:
    print(i)

World
Hello

In [13]:
# Dictionary
name={"Hello":"World","Mayank":"Bhatt"}
for i in name:
    print(i)

Hello
Mayank

In [16]:
# Dictionary
name={"Hello":"World","Mayank":"Bhatt"}
for i in name:
    print(i,name[i],sep=":")

Hello:World
Mayank:Bhatt

In [18]:
name.values()

dict_values(['World', 'Bhatt'])

In [19]:
name.keys()

dict_keys(['Hello', 'Mayank'])

In [21]:
name.items()

dict_items([('Hello', 'World'), ('Mayank', 'Bhatt')])

In [23]:
for key,value in name.items():
    print(key)

Hello
Mayank

In [22]:
for key,value in name.items():
    print(key,value)

Hello World
Mayank Bhatt

In [24]:
a=["mayank","Bhatt"]
counter=1
for a in a:
    print(counter,a,sep=". ")
    counter+=1

1. mayank
2. Bhatt

In [26]:
a=["mayank","Bhatt"]

for index, a in enumerate(a,start=1):
    print(index,a,sep=". ")

1. mayank
2. Bhatt

# Thursday 18/09/2025

# Range() function
- Range(start=0,end=n-1,step=1)

In [1]:
range(10)

range(0, 10)

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
for i in range(5,20,3):
    print(i)

5
8
11
14
17

In [8]:
for i in range(1,11):
    print(f" {i} ka sq hai = ",i**2)

 1 ka sq hai =  1
 2 ka sq hai =  4
 3 ka sq hai =  9
 4 ka sq hai =  16
 5 ka sq hai =  25
 6 ka sq hai =  36
 7 ka sq hai =  49
 8 ka sq hai =  64
 9 ka sq hai =  81
 10 ka sq hai =  100

In [9]:
for i in range(1,11):
    print(i,i*i,sep=" : ")

1 : 1
2 : 4
3 : 9
4 : 16
5 : 25
6 : 36
7 : 49
8 : 64
9 : 81
10 : 100

In [13]:
# 4. Print the sum of numbers from 1 to 10 using a for loop.
n = 10 
Sum = 0
for i in range(1,n+1):
    Sum +=i
print(Sum)

55

In [17]:
# 4. Print the sum of numbers from 1 to 10 using a for loop.
n = 10 
Sum = 0
for i in range(1,n+1):
    Sum +=i
    print(Sum)

1
3
6
10
15
21
28
36
45
55

In [16]:
# 4. Print the sum of numbers from 1 to 10 using a for loop.
n = 10 
Sum = 0
for i in range(1,n+1):
    Sum +=i
    print(Sum, end=", ")

1, 3, 6, 10, 15, 21, 28, 36, 45, 55,

In [25]:
# 6. Print the numbers from 10 to 1 in reverse order using a for loop.
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [31]:
# 7. Print the even numbers from 1 to 10 using a for loop.
for i in range (0,11,2):
    print(i)

0
2
4
6
8
10

In [32]:
for i in range(11):
    if i%2==0:
        print(i)

0
2
4
6
8
10

In [36]:
for i in range (1,11,2):
    print(i)

1
3
5
7
9

In [37]:
for i in range (11):
    if i%2!=0:
        print(i)

1
3
5
7
9

In [38]:
for i in range (11):
    if i%2!=0 and i%3!=0:
        print(i)

1
5
7

In [46]:
count=0
for i in range (100):
    if i%7==0:
        count +=1
print(count)

15

In [47]:
for i in range (101):
    if i%3==0 and i%4==0:
        print(i)

0
12
24
36
48
60
72
84
96

In [54]:
a = 1
num = 5
for i in range (1,num+1):
    a *= i
print("Factorial of ",num,"is: ",a)

Factorial of  5 is:  120

In [59]:
for i in range (65,91):
    print(chr(i),end=",")

A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z,

In [60]:
ord("a")

97

In [62]:
chr(65)

'A'