# Friday 15/08/2025

* Intro of Python (Notes in Github)

In [3]:
print("mayank bhatt")

mayank bhatt

In [2]:
print(3+5)

8

In [3]:
print(3-1)

2

# TUESDAY 19/08/2025

In [2]:
a=4
print(a)
print(id(a))

4
140737034652184

# Primitive Data Types:
 1. Integer
 2. Float
 3. String
 4. Boolean
 5. Complex
 
# Composite Data Types:
 1. List
 2. Tuple
 3. Dictionary (Maping datatype)
 4. Set

# other data type
 1. function/module
 2. class
 3. array

# python built-in datatype
 1. None

# WEDNESDAY 20/08/2025

# Mayank This is how to write in bold

 *Mayank* this is how to write little smaller than bold one

**Mayank** to write little lighter than bold one you can use * * to make it bold and you can increase the number of stars to make it more bold

**Sub heading** we use - to make sub heading
- MAYANK
- BHATT

**To make sub heading in number** by 1. to make points  
1. Mayank
2. Bhatt

In [5]:
a=10 #this is integer variavle
print(a)

10

In [7]:
b=5.34 #this is float value
print(b)

5.34

In [8]:
c="Hello python" # this is string values 
print(c)

Hello python

In [9]:
d=4+6j # this is complex value
print(d)

(4+6j)

In [10]:
x=4+3j
y=6+2j
print(x+y)

(10+5j)

In [17]:
x=4+3j
y=6+8j
print(x+y)
print(y-x)
print(x*y)

(10+11j)
(2+5j)
50j

In [2]:
a=10
print(a,type(a))

10 <class 'int'>

# Thursday 21/08/2025

# Container datatypes

**List**

In [3]:
lst=[1,2,3,4,"Hello",None]

In [9]:
print(lst)
print(type(lst))
print(id(lst))

[1, 2, 3, 4, 'Hello', None]
<class 'list'>
2364504203648

**Rules to List**
1. List is created in [ ].
2. List is order collect of data. 
3. List is hetrogenus type of data (hetrogenus for different data type and homogenus for sigle data type).
4. List is a new table data type it can be changed.

# Tuple

In [11]:
T1 = (1,2,3,4,5,4.5,"Hello",None)
print(T1)
type(T1)

(1, 2, 3, 4, 5, 4.5, 'Hello', None)

tuple

**Rules to TUPLE**
1. Tuple is create in round ( )
2. Tuple is a ordered collection of datatype 
3. It is imuteable(unchange) datatype 
4. Hetrogenus type of data (hetrogenus for different data type and homogenus for sigle data type)
5. Tuple is fast then list because it can't be changed

# Set

In [12]:
s1 = {1,2,3,33,44444,3.444,"Hello",True}
print(s1)
type(s1)

{1, 2, 3, 3.444, 33, 'Hello', 44444}

set

**Rules for Set**
1. Set in culy { }
2. Set is unorder collection type of data 
3. Set don't have duplicate item
4. Set only have imuteable data type
5. We don't able indexing in a set
6. Set is muteable datatype

In [15]:
s2 = {1,2,3,33,(1,2,3),44444,3.444,"Hello",True}
print(s1)
type(s1)

{1, 2, 3, 3.444, 33, 'Hello', 44444}

set

# Dictionary

In [17]:
D1 = {"Key":" Value"}
print(D1)
type(D1)

{'Key': ' Value'}

dict

In [18]:
D2={
    "Name":"Mayank",
    "Age":20,
    "Contact":1234567890,
    "Address":"Delhi"
}
print(D2)

{'Name': 'Mayank', 'Age': 20, 'Contact': 1234567890, 'Address': 'Delhi'}

**Rules for Dictionary**
1. Dictionary is made in {}
2. Dictionary is collection of key value pair, when each key is unique and maps to a specific values
3. Dictionary is a order collection of data type
4. keys are imuteable but value can mutable

# Friday 22/08/2025

**List Vs Tuple**

In [1]:
L1 = [23,34,34,34,324,33]
T1 = (23,23,23,23,23)
print(L1)
print(T1)

[23, 34, 34, 34, 324, 33]
(23, 23, 23, 23, 23)

In [7]:
# Length 
len(L1)

6

In [5]:
len(T1)

5

# Indexing
1. Positive indexing left to right -[Start with 0 and end with n-1]
2. Negative indexinng right to left -[Start with -1 and end with =-n]

In [10]:
print(L1[3])  # Positive indexing
print(T1[2])

34
23

In [11]:
print(L1[-3])  # Negative indexing 
print(T1[-1])

34
23

**To change index**

In [17]:
L1[2]=100
L1[4]="Hello"
L1[-4]="Hello"

In [18]:
print(L1)

[23, 34, 'Hello', 34, 'Hello', 33]

**2D List**

In [22]:
L2=[[1,2,3,4],[2,3,4,5],[2,4,6,8]]
print(L2)
type(L2)

[[1, 2, 3, 4], [2, 3, 4, 5], [2, 4, 6, 8]]

list

In [23]:
len(L2)

3

**List**

In [24]:
L2[0]

[1, 2, 3, 4]

In [25]:
L2[2][3]

8

In [26]:
L2[-2][-3]

3

**String**

In [27]:
S1= 'Hello Python'
S2= "Hello Python"
S3= '''Hello Python'''
S4= """Hello Python"""

In [28]:
print(S1)
print(S2)
print(S3)
print(S4)

Hello Python
Hello Python
Hello Python
Hello Python

In [32]:
S2= "Hello Python"

In [34]:
S2[2]

'l'

**Set**

In [1]:
S2= {1,22,3,4}

In [ ]:
S2[2]

**Dictionary**

In [38]:
D1={'A':10,'B':20,'C':30}

In [39]:
D1['B']

20

In [40]:
D1['C']=40

In [41]:
D1['C']

40

In [42]:
D2={'Name':["Anish","Kumal","Monika"],
    'Age':[20,21,22],
    'Address':['Delhi','UP','UK']
   }

In [44]:
D2["Name"]

['Anish', 'Kumal', 'Monika']

In [45]:
D2['Name'][1]="Mayank"

In [46]:
print(D2)

{'Name': ['Anish', 'Mayank', 'Monika'], 'Age': [20, 21, 22], 'Address': ['Delhi', 'UP', 'UK']}

# Wednesday 08/27/2025

**Literals**

In [ ]:
A =10 #Integer literals
S =20 #String literals

****Number System****
1. **Binary number System**  (0,1)     base-2
2. **Octal number system** (0,1,2,3,4,5,6,7)    base-8
3. **Decimal number System** (0,1,2,3,4,5,6,7,8,9)    base-10
4. **Hexdecimal number System** (0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F)    base-16

In [3]:
Number={0,1,2,3,4,5,6,7,8,9}

In [2]:
# DECIMAL TO BINARY
N=36
bin(N)

'0b100100'

In [1]:
# Binary to decimal
n='10101'  
int(n,2)

21

In [3]:
n ='11011'
int(n,2)

27

In [5]:
# decimal to octal
n= 234583
oct(n)

'0o712127'

In [6]:
# octual to binary
v= '55673'
int(v,8)

23483

In [9]:
0o1234342

342242

In [14]:
# decimal to hexadecimal
n= 234879
hex(n)

'0x3957f'

In [15]:
# hexadecimal to decimal
x='abcd'
int(x,16)

43981

In [16]:
0x1234af

1193135

In [7]:
pin=hex(3432)
print(pin)

0xd68

# Thursday 28/08/2025

In [2]:
# List
L = [23,24,25,66,45,"ABCD",True]
print(L)
print(type(L))
len(L)

[23, 24, 25, 66, 45, 'ABCD', True]
<class 'list'>

7

**Operators**
1. Arthematic Operatiors
    - Addition `+`
    - Subtraction `-`
    - Multiply `*`
    - Divide `/`
    - Modulus `%`  (remainder calculator)
    - Floor Division `//`  (Quotient calculator)
    - Exponential `**`   (Use for power like root)

In [6]:
a=10
b=20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

30
-10
200
0.5
10
0
100000000000000000000

# Friday 29/08/2025

In [ ]:
A=10

# Assignment Operators:
1. `=`   *(Assignment)*
2. `+=`  *(Add and assign)*
3. `-=`  *(Subtract and assign)*
4. `*=`  *(Multiply and assign)*
5. `/=`  *(Divide and assign)*
6. `%=`  *(Modulus and assign)*
7. `//=` *(Floor divide and assign)*
8. `**=` *(Exponent and assign)*

In [5]:
a=10 # (Assignment)
print(a) 
a+=10 # (Add and assign)
print(a)
a-=10 # (Subtract and assign)
print(a)
a*=10 # (Multiply and assign)
print(a)
a/=10 # (Divide and assign)
print(a)
a%=10 # (Modulus and assign)
print(a)
a//=10 # (Floor divide and assign)
print(a)
a**=10 # (Exponent and assign)
print(a)

10
20
10
100
10.0
0.0
0.0
0.0

# Comparison Operators:
- `==` (Equal to)
- `!=` (Not equal to)
- `<`  (Greater than)
- `>`  (Less than) 
- `>=` (Greater than or equal to)
- `<=` (Less than or equal to)

In [7]:
a=10
b=20
print (a==b)
print (a!=b)
print (a<b)
print (a>b)
print (a>=b)
print (a<=b)

False
True
True
False
False
True

# Tuesday 02/09/2025

# Homework
1. Logical Operators in Python
     - and, or ,not
2. Membership Operators in Python
     - not in , in
3. Identity Operators in Python
     - is, is not
4. Bitwise Operators in Python

In [1]:
D={
    "Name": ["Mayank","Satyma","Rohan","Dexant"],
    "Age": [27,23,24,25],
    "Address": ["Noida","Ranchi","Goa","Delhi"]
}

In [2]:
D['Address'][1]="USA"

In [3]:
print(D)

{'Name': ['Mayank', 'Satyma', 'Rohan', 'Dexant'], 'Age': [27, 23, 24, 25], 'Address': ['Noida', 'USA', 'Goa', 'Delhi']}

# Logical Operation 
- And
- or
- not

In [4]:
a = 10
b = 20
c = 15
a>b and a>c

False

In [6]:
# And
print (True and True)
print (True and False)
print (False and True)
print (False and False)

True
False
False
False

In [13]:
# Or
print (True or True)
print (True or False)
print (False or True)
print (False or False)

True
True
True
False

In [12]:
# Not
not True

False

In [11]:
not False

True

In [15]:
not(True or True and True or False and True and True and False or True)

False

# Membership Operators 
- In
- Not in

In [18]:
name = "Mayank Bhatt"
"M" in name

True

In [19]:
T = (212,45,2,23)
23 in T

True

In [20]:
T = [212,45,2,23]
23 in T

True

In [21]:
T = {212,45,2,23}
23 in T

True

In [22]:
T = (212,45,2,23)
23 in T

True

In [25]:
T = {1,2,1,2,1,22,1, True}
print (T)
1 in T

{1, 2, 22}

True

In [26]:
True in T

True

In [1]:
D={
    "Name": ["Mayank","Satyma","Rohan","Dexant"],
    "Age": [27,23,24,25],
    "Address": ["Noida","Ranchi","Goa","Delhi"]
}

In [28]:
"Age" in D

True

In [2]:
"Mayank" in D['Name'] # to find name

True

# Identity Operation 
- is 
- is not

In [33]:
A = 10
B = 10
print(id(A))
print(id(B))
print(A==B)
print(A is B)

140722283219672
140722283219672
True
True

In [34]:
A = 1000
B = 1000
print(id(A))
print(id(B))
print(A==B)
print(A is B)

2192543398608
2192543399536
True
False

In [36]:
X = "Mayank Bhatt"
Y = "Mayank Bhatt"
print(id(X))
print(id(Y))

2192543670832
2192543670960

# Thursday 04/09/2025

In [2]:
# To write something 
Name= "Mayank Bhatt"
age= 19
print("Person name:",Name,"and person age:",age)

Person name: Mayank Bhatt and person age: 19

In [3]:
# use of .format() to write something 
Name= "Mayank Bhatt"
age= 19
print("Person name:{0} and person age:{1}" .format(Name,age))

Person name:Mayank Bhatt and person age:19

In [4]:
# use of f"" to write something 
Name= "Mayank Bhatt"
age= 19
print(f"Person name:{Name}and person age:{age}")

Person name:Mayank Bhattand person age:19

# Bitwise Operators

1.  `&`  and
2.  `|`  or
3.  `^`  xor
4.  `~`  not
5.  `>>` right shift
6.  `<<` Left shift

And
A           B            And(&)
0           0              0
0           1              0
1           0              0
1           1              1

or
A           B             or(|)
0           0              0
0           1              1
1           0              1
1           1              1

xor
A           B            xor(^)
0           0              0
0           1              1
1           0              1
1           1              0

In [5]:
# this operators give answer in bit so not so important 
21 & 12

4

In [8]:
bin(21)

'0b10101'

In [7]:
bin(12)

'0b1100'

10101 = 21
01100 = 12
00100 = answer

In [10]:
0b00100 # this is who we get 4

4

In [11]:
~10 # make it negative and +1

-11

In [12]:
~22112005

-22112006

In [13]:
23>>2  # it change 23 in bit and then minus 2

5

In [14]:
bin(23)

'0b10111'

In [15]:
0b101

5

In [16]:
21<<2  # it change 21 in bit and then add 2 zero in last

84

In [17]:
bin(21)

'0b10101'

In [18]:
0b1010100

84

# Friday 09/05/2025

# Type Casting/Type Conversion
1. Implicit
2. Explicit

In [ ]:
#  10+'10'

In [1]:
10+10.5

20.5

In [3]:
10-4.8

5.2

# Explitcit
1. `int()`
2. `str()`
3. `float()`
4. `bool()`
5. `complex()`
6. `list()`
7. `tuple()`
8. `set()`
9. `dict()`
10. `bin()`
11. `oct()`
12. `hex()`

# input() Fuction

In [5]:
A = input()
print(A)

 Hello

Hello

In [7]:
A = input("Enter the number: ")
print(A)

Enter the number:  1

1

*input is made in string only*

In [9]:
x = int(input("Enter the 1st number: "))
y = int(input("Enter the 2nd number: "))
print(x,type(x))
print(f"Addition of {x} and {y} is {x+y}")

Enter the 1st number:  1
Enter the 2nd number:  1

1 <class 'int'>
Addition of 1 and 1 is 2

In [10]:
x = input("Enter your name: ")
y = input("Enter your age: ")
z = input("Enter your Address: ")

print(F"Welcome! Your Name is {x}. You are {y} year old. and you live in {z}")

Enter your name:  Mayank
Enter your age:  19
Enter your Address:  Delhi

Welcome! Your Name is Mayank . You are 19 year old. and you live in Delhi