In [3]:
# 1. Extract the first 3 characters from the string "Hello World".
a="hello world"
a[:3]

'hel'

In [6]:
# 2. Extract the last 2 characters from the string "Python".
a="Python"
a[4:]

'on'

In [8]:
# 3. Extract the substring "World" from the string "Hello World".
a="Hello world"
a[6:]

'world'

In [9]:
# 4. Reverse the string "Hello".
a="Hello"
a[::-1]

'olleH'

In [10]:
# 5. Extract every other character from the string "abcdefg".
a= "abcdefg"
a[::2]

'aceg'

In [13]:
# 6. Join the list ["Hello", "World"] into a single string with a space separator.
a=["Hello","World"]
" ".join(a)

'Hello World'

In [15]:
# 7. Join the list ["a", "b", "c"] into a single string with a comma separator.
a= ["a", "b", "c"]
",".join(a)

'a,b,c'

In [16]:
# 8. Join the list ["1", "2", "3"] into a single string with a hyphen separator.
a= ["1", "2", "3"]
"-".join(a)

'1-2-3'

In [ ]:
# 9. Join the list ["Hello", "World"] into a single string with a newline separator.
# \n ?

In [17]:
# 10. Join the list ["a", "b", "c"] into a single string without any separator.
a= ["a", "b", "c"]
"".join(a)

'abc'

In [18]:
# 11. Split the string "Hello World" into a list of words.
a="Hello world"
list(a)

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [21]:
# 12. Split the string "a,b,c" into a list of characters using a comma separator.
a = "a,b,c"
a.split(",")

['a', 'b', 'c']

In [22]:
# 13. Split the string "1-2-3" into a list of numbers using a hyphen separator.
a = "1-2-3"
a.split("-")

['1', '2', '3']

In [23]:
# 14. Split the string "Hello\nWorld" into a list of lines.

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [24]:
# 15. Split the string "abcdefg" into a list of individual characters.
a = "abcdefg"
list(a)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
# 16. Slice the string "Hello World" to extract the first word, then join it with the string "Universe" using a space separator.

In [28]:
# 17. Split the string "a,b,c" into a list, then join it back into a string using a hyphen separator.
a = "a,b,c"
a1 = a.split(",")
a2 = "-".join(a1)
print(a2)

a-b-c

In [29]:
# 18. Slice the string "abcdefg" to extract every other character, then join the resulting characters into a string.

ac

In [30]:
# 19. Split the string "Hello World" into a list of words, then join the list back into a string using a space separator.
a = "Hello World"
a1 = a.split()
a2 = " ".join(a1)
print(a2)

Hello World

In [ ]:
# 20. Slice the string "Hello" to extract the last 2 characters, then join it with the string "World" using a spaceÂ separator.

In [ ]:
9,14,16,18,20