# Function

**Types of Functions in Python**
1. **Built-in Functions:** These are functions that are already defined in Python. Examples include print(), len(), type(), etc.

2. **User-defined Functions:** These are functions that you create to perform specific tasks.

3. **Anonymous Functions (Lambda Functions):** Defined using the lambda keyword, typically for short, simple operations.

4. **Recursive Functions:** Functions that call themselves to solve problems incrementally.

# Built-in Functions:
1. `print()` = Displays (prints) output on the screen.
2. `len()` = Returns the number of items in an object (like string, list, or tuple).
3. `max()` = Returns the largest value from a group of numbers or elements.
4. `min()` = Returns the smallest value from a group of numbers or elements.
5. `sum()` = Adds up all the numbers in an iterable (like a list or tuple).
6. `input()` = Takes user input from the keyboard as a string.
7. `type()` = Shows the data type of a given object or value.
8. `id()` = Returns the unique memory address (identity) of an object.
9. `int()` = Converts a value to an integer type (whole number).
10. `float()` = Converts a value to a floating-point number (decimal).
11. `bool()` = Converts a value to either True or False (boolean type).
12. `complex()` = Creates a complex number (with real and imaginary parts).
13. `str()` = Converts a value into a string (text) form.
14. `list()` = Converts an iterable (like a string or tuple) into a list.
15. `tuple()` = Converts an iterable into a tuple (an ordered, immutable sequence).
16. `set()` = Converts an iterable into a set (unordered collection with unique elements).
17. `dict()` = Creates a dictionary (key–value pairs container).
18. `bin()` = Converts an integer into its binary representation (as a string).
19. `oct()` = Converts an integer into its octal representation (as a string).
20. `hex()` = Converts an integer into its hexadecimal representation (as a string).
21. `chr()` = Returns the character (string) that corresponds to a given Unicode number.
22. `ord()` = Returns the Unicode number (integer) of a given character.
23. `round()` = Rounds a number to the nearest integer or to a specified number of decimal places.
24. `help()` = Displays the documentation or help information about an object, function, or module.
25. `range()` = Generates a sequence of numbers, commonly used for loops.
26. `enumerate()` = Adds a counter (index) to an iterable and returns it as pairs.
27. `reversed()` = Returns an iterator that gives the elements of a sequence in reverse order.
28. `sorted()` = Returns a new sorted list from the elements of any iterable.
29. `abs()` = Returns the absolute (positive) value of a number.
30. `divmod()` = Returns a tuple containing the quotient and remainder of division.
31. `pow()` = Returns the value of a number raised to a power (optionally modulo another number).
32. `eval()` = Executes a string as a Python expression and returns the result.
33. `zip()` = Combines two or more iterables element-wise into pairs (or tuples).
34. `any()` = Returns True if any element in an iterable is true.
35. `all()` = Returns True only if all elements in an iterable are true.

In [ ]:
# print()
print("Hello, World!")

In [ ]:
# len()
name = "Mayank"
print(len(name))   # Output: 6

In [ ]:
# max()
numbers = [3, 8, 1, 5]
print(max(numbers))   # Output: 8

In [ ]:
# min()
numbers = [3, 8, 1, 5]
print(min(numbers))   # Output: 1

In [ ]:
# sum()
numbers = [3, 8, 1, 5]
print(sum(numbers))   # Output: 17

In [ ]:
# input()
name = input("Enter your name: ")
print("Hello,", name)

In [ ]:
# type()
x = 10
print(type(x))   # Output: <class 'int'>

In [ ]:
# id()
a = 5
print(id(a))

In [ ]:
# int()
x = int("10")
print(x + 5)   # Output: 15

In [ ]:
# float()
x = float("3.14")
print(x * 2)   # Output: 6.28

In [ ]:
# bool()
print(bool(5))      # True
print(bool(0))      # False

In [ ]:
# complex()
z = complex(3, 4)
print(z)            # (3+4j)

In [ ]:
# str()
num = 123
print(str(num) + " is a number")  # "123 is a number"

In [ ]:
# list()
letters = list("abc")
print(letters)      # ['a', 'b', 'c']

In [ ]:
# tuple()
numbers = tuple([1, 2, 3])
print(numbers)      # (1, 2, 3)

In [ ]:
# set()
nums = set([1, 2, 2, 3])
print(nums)         # {1, 2, 3}

In [ ]:
# dict()
person = dict(name="Mayank", age=20)
print(person)       # {'name': 'Mayank', 'age': 20}

In [ ]:
# bin()
print(bin(10))      # '0b1010'

In [ ]:
# oct()
print(oct(10))      # '0o12'

In [ ]:
# hex()
print(hex(255))     # '0xff'

In [ ]:
# char()
print(chr(65))     # Output: 'A'

In [ ]:
# ord()
print(ord('A'))    # Output: 65

In [ ]:
# round()
print(round(3.7))      # Output: 4
print(round(3.14159, 2))  # Output: 3.14

In [ ]:
# help()
help(print)        # Shows info about the print() function

In [ ]:
# range()
for i in range(3):
    print(i)       # Output: 0, 1, 2

In [ ]:
# enumerate()
for i, val in enumerate(['a', 'b', 'c']):
    print(i, val)
# Output: 0 a, 1 b, 2 c

In [ ]:
# reversed()
for x in reversed([1, 2, 3]):
    print(x)       # Output: 3, 2, 1

In [ ]:
# sorted()
print(sorted([5, 1, 3]))   # Output: [1, 3, 5]

In [ ]:
# abs()
print(abs(-7))     # Output: 7

In [ ]:
# divmod()
print(divmod(10, 3))   # Output: (3, 1)

In [ ]:
# pow()
print(pow(2, 3))       # 2³ = 8
print(pow(2, 3, 5))    # (2³) % 5 = 3

In [ ]:
# eval()
x = 5
print(eval("x + 10"))  # Output: 15

In [ ]:
# zip()
names = ['A', 'B', 'C']
scores = [85, 90, 88]
print(list(zip(names, scores)))  # [('A', 85), ('B', 90), ('C', 88)]

In [ ]:
# any()
print(any([0, False, 3]))   # True (because 3 is True)

In [ ]:
# all()
print(all([1, True, 5]))    # True
print(all([1, 0, 3]))       # False (because 0 is False)

# Syntex:

1. **Def function_name(parameters):** """docstring""" statement(s) # code/logic of a function(body) return values # Function output
- def: This keyword is used to start the function definition.
- function_name: This is the name of the function.
- parameters: These are the inputs to the function (optional).
- docstring: This is a string that describes the function (optional).
- statement(s): These are the statements that make up the function.

2. **Return Statement**
- The return statement exits the function and sends a value back to the caller.
- You can return any data type (number, string, list, etc.).
- A function can have multiple return statements but only one is executed per call.