# Lambda Function
Lambda functions, also known as anonymous functions, are small, unnamed functions defined using the lambda keyword. They are often used for short, simple operations that are passed as arguments to higher-order functions.

# Key Points:

1. **Syntax:** lambda arguments: expression

2. **Anonymous:** They do not have a name.

3. **Single Expression:** They are limited to a single expression.

4. **Inline:** They are often used inline, where they are defined at the point of use.

5. **Use Case:** Ideal for simple operations that are used only once or are not worth naming.

In [1]:
Add=lambda x,y :x+y
Add(5,3)

8

In [2]:
is_even=lambda x: True if x%2==0 else False
is_even(23)

False

In [4]:
is_odd=lambda x: True if x%2==0 else False
is_odd(24)

True

In [5]:
# Write a lembda function to written leght of a itreabal fun.
length=lambda x: len(x)
length([3,4,67,7])

4

In [1]:
length=lambda a: len(a)
s='Mayank'
length(s)

6

In [8]:
len(s)

6

In [9]:
length=lambda a: sum(1 for i in a)
s='Ridhima'
length(s)

7

In [10]:
s='Ridhima'                    # for loop method
length=0
for i in s:
    length+=1
print(length)

7

In [12]:
#find the greatest (max) b/w 2 values
greatest=lambda a,b: a if a>b else b
greatest(2,4)

4

In [13]:
greatest=lambda a,b: print(a) if a>b else print(b)
greatest(2,4)

4

In [ ]:
# count even no. in a string.
# count vowel in a list.
# square each element in a list.
# convert string to upper case.

In [14]:
# count even no. in a string.
count_even=lambda lst: sum(1 for i in lst if i%2==0)
count_even([2,3,5,6,78,32,58,90,8,4,3])

In [15]:
# High order function
lst=["apple","watermelon","lichi"]
D={}
for i in lst:
    c=0
    for j in i:
        c+=1
    D[i]=c
D

{'apple': 5, 'watermelon': 10, 'lichi': 5}

In [19]:
# length =Lambda a:len(a)
def string_length(func,value):
    D={}
    for i in value:
        D[i]=func(i)
    return D
lst=["apple","watermelon","lichi"]
length=lambda a:len(a)
string_length(length,lst)

{'apple': 5, 'watermelon': 10, 'lichi': 5}

In [18]:
string_length(lambda x:x.upper(),lst)

{'apple': 'APPLE', 'watermelon': 'WATERMELON', 'lichi': 'LICHI'}

# Higher order Functions:-
- Function which tacks other functions as arguments.
- three built-in higher order Function :-
1. filter
2. map
3. reduce()

# MAP
**Definition:** Applies a function to all the items in an input list and returns an iterator that yields the results.
1. **Syntax:** `map(function, iterable, ...)`
2. **Parameters:**
    - **function:** The function to apply to each element of the iterable.
    - **iterable:** One or more iterable(s) whose elements will be passed to the function.
3. **Returns:** A map object which can be converted to a list, tuple, or another iterable.

In [58]:
lst=["apple","mango","banana","papaya"]
list(map(lambda x:x.upper(),lst))

['APPLE', 'MANGO', 'BANANA', 'PAPAYA']

In [14]:
# High order Function
Lst=['aman','rahul','komal','kavita']

In [17]:
def string_opration(fn,data:[list,tuple]):
    l=[]
    for i in data:
        l.append(fn(i))
    return l

In [18]:
string_opration(len,Lst)

[4, 5, 5, 6]

In [19]:
string_opration(lambda x:x.title(),Lst)

['Aman', 'Rahul', 'Komal', 'Kavita']

In [20]:
# convert the list of innteger to their corresponding sq value
lst = [1,2,3,4,5,6,7,8,9,10]
list(map(lambda x:x**2,lst))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
# convert the list of innteger to their corresponding sq value
lst = [1,2,3,4,5,6,7,8,9,10]
list(map(lambda x:x*x,lst))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Filter()

**Definition: Applies a function to each item of an iterable (e.g., list) and returns an iterator yielding those items for which the function returns True**

***Syntax:*** `filter(function, iterable)`

***Parameters:***
- **function:** A function that tests each element of the iterable. It should return True or False.
- **iterable:** The iterable (e.g., list, tuple) to be filtered.
Return Value:

- Returns an iterator that contains only the elements of the iterable for which the function returns True.
Usage:

In [24]:
# find even item
L1=[10,32,55,12,3,16,43]
list(filter(lambda x:x%2==0,L1))

[10, 32, 12, 16]

In [25]:
# odd item
L1=[10,32,55,12,3,16,43]
list(filter(lambda x:x%2!=0,L1))

[55, 3, 43]

In [30]:
# More then four words
L1 = ["mayank","amit","sumit","Ram"]
list(filter(lambda x:len(x)>4,L1))

['mayank', 'sumit']

In [31]:
list(filter(lambda x:len(x)<4,L1))

['Ram']

In [36]:
# filter the name that starts from a 
list(filter(lambda x:x.startswith("a"),L1))

['amit']

# Reduce
**reduce function in Python is part of the functools module and is used to apply a specified function cumulatively to the items of an iterable (like a list) from left to right, so as to reduce the iterable to a single cumulative value.**

***Syntex:*** `from functools import reduce`

***result=*** `reduce(function, iterable, initializer)`

- ***function:*** A function that takes two arguments and returns a single value.

- ***iterable:*** The iterable (like a list or tuple) whose items you want to reduce.

- ***initializer (optional):*** A value to start with; if provided, it will be placed before the items of the iterable in the calculation, and serves as a default when the iterable is empty.

In [4]:
from functools import reduce

In [38]:
# sum
L=[32,7,54,212,45,45,32]
reduce(lambda x,y:x+y,L)

427

In [39]:
# max
L=[32,7,54,212,45,45,32]
reduce(lambda x,y:x if x>y else y,L)

212

In [40]:
# min
L=[32,7,54,212,45,45,32]
reduce(lambda x,y:x if x<y else y,L)

7

In [8]:
# to count the len 
from functools import reduce

lst = [1, 2, 3, 4, 5]
reduce(lambda x, y: x + 1, lst,0)

5