# Types of function arguments.

*1. Default Arguments :* When a parameter is given a default value, it's optional to pass that argument when calling the function. 

*2.Positional Arguments :* These are the most common type. Values are passed to the function in the same order as parameters are defined.

*3. Keyword Arguments:* In keyword arguments, we pass values by specifying the parameter name. The order doesn’t matter

*4. Variable-length Arguments* These allow functions to accept any number of arguments.

##### *args (Non-keyword Variable-length)
Used to pass a variable number of positional arguments. It collects them into a tuple.

##### `**kwargs (Keyword Variable-length)
Used to pass a variable number of keyword arguments. It collects them into a dictionary.

In [6]:
# defalut argument
def div(a=0,b=1):
    return a/2

In [7]:
div(2)

1.0

In [10]:
# positional Argument
def func(a=0,b=0,c=0,d=0):
    return (a+b,c-d)

In [11]:
func(1,2)

(3, 0)

In [12]:
# Keyword Arguments
func(c=10,d=4)

(0, 6)

In [2]:
# Variable-length Arguments
# *args (Non-keyword Variable-length)
print(1,2,3,4,5,5,6,"amamama", "true")
print(1,2,3,4,5,5,1)

1 2 3 4 5 5 6 amamama true
1 2 3 4 5 5 1

In [ ]:
# def function(*args): = def function(*n):

In [3]:
def fun(*n):
    return n

In [4]:
fun(1,2,3,4,5,6,7,8,9)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [5]:
# count the no of arguments which is passed in funtion 
def func(*n):
    return len(n)

In [6]:
func(1,2,3,4,5,6)

6

In [ ]:
# sum the no of arguments which is passed in funtion 
def funct(*n):
    return sum(n)

In [14]:
# sum the no of arguments which is passed in funtion 
def sum_no(*n):

In [15]:
sum_no(2,22,12,3333,222,444)

444

In [10]:
def max_no(*n):
    m=n[0]
    for i in n:
        if i>m:
            m=i
    return m

In [11]:
max_no(2,22,12,3333,222,444)

3333

In [16]:
# **kwargs (Keyword Variable-length)

def may(**value):
    return value

In [17]:
may(a=1,b=3)

{'a': 1, 'b': 3}

In [ ]:
# write a function to create a bill

In [30]:
def Bill(**item):
    print("***********Bill***********")
    print("item\t\t Amounts")
    total=0
    for i,j in item.items():
        print(i,j, sep="\t\t:")
        total+=j
    print("**************************")
    print('Total Items :', len(item))
    print('Total Amount :', total)

In [31]:
Bill(a=1,b=2,c=3,d=4)

***********Bill***********
item		 Amounts
a		:1
b		:2
c		:3
d		:4
**************************
Total Items : 4
Total Amount : 10

In [27]:
def bill(**f):
    s=0
    for i in f:
        s+=i
    return s

In [ ]:
bill(a=1,b=3)

In [3]:
# 1. Print type of each argument
def types(*args):
    for a in args:
        print(a, "→", type(a))

types(10, "Hello", [1, 2, 3], 3.14)

10 → <class 'int'>
Hello → <class 'str'>
[1, 2, 3] → <class 'list'>
3.14 → <class 'float'>

In [4]:
# 2. Concatenate multiple strings
def concat(*args):
    return " ".join(args)
    
print(concat("Python", "is", "fun"))

Python is fun

In [12]:
# 3. Find average of numbers
def avg(*nums):
    return sum(nums) / len(nums) 
    
print(avg(10, 20, 30, 40))

25.0

In [9]:
# 4. Join characters into a string
def join_chars(*chars):
    return "".join(chars)

print(join_chars('P', 'y', 't', 'h', 'o', 'n'))

Python

In [14]:
# 5 Unpack list elements into args
L = [1, 2, 3, 4]
def unpack(*lst):
    for i in lst:
        print(i)
unpack(*L)

1
2
3
4

In [15]:
# 6. Combine two lists using args
def Combine(*lst):
    L=[]
    for i in lst:
        L.extend(i)
    return L
Combine([1,2,3,4],[4,5,6,7])

[1, 2, 3, 4, 4, 5, 6, 7]