In [2]:
import pandas as pd
import numpy as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [4]:
df=sns.load_dataset('tips')

In [5]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [13]:
x= df["total_bill"].unique()
x.sort()
x

array([ 3.07,  5.75,  7.25,  7.51,  7.56,  7.74,  8.35,  8.51,  8.52,
        8.58,  8.77,  9.55,  9.6 ,  9.68,  9.78,  9.94, 10.07, 10.09,
       10.27, 10.29, 10.33, 10.34, 10.51, 10.59, 10.63, 10.65, 10.77,
       11.02, 11.17, 11.24, 11.35, 11.38, 11.59, 11.61, 11.69, 11.87,
       12.02, 12.03, 12.16, 12.26, 12.43, 12.46, 12.48, 12.54, 12.6 ,
       12.66, 12.69, 12.74, 12.76, 12.9 , 13.  , 13.03, 13.13, 13.16,
       13.27, 13.28, 13.37, 13.39, 13.42, 13.51, 13.81, 13.94, 14.  ,
       14.07, 14.15, 14.26, 14.31, 14.48, 14.52, 14.73, 14.78, 14.83,
       15.01, 15.04, 15.06, 15.36, 15.38, 15.42, 15.48, 15.53, 15.69,
       15.77, 15.81, 15.95, 15.98, 16.  , 16.04, 16.21, 16.27, 16.29,
       16.31, 16.32, 16.4 , 16.43, 16.45, 16.47, 16.49, 16.58, 16.66,
       16.82, 16.93, 16.97, 16.99, 17.07, 17.26, 17.29, 17.31, 17.46,
       17.47, 17.51, 17.59, 17.78, 17.81, 17.82, 17.89, 17.92, 18.04,
       18.15, 18.24, 18.26, 18.28, 18.29, 18.35, 18.43, 18.64, 18.69,
       18.71, 18.78, 19.08, 19.44, 19.49, 19.65, 19.77, 19.81, 19.82,
       20.08, 20.23, 20.27, 20.29, 20.45, 20.49, 20.53, 20.65, 20.69,
       20.76, 20.9 , 20.92, 21.01, 21.16, 21.5 , 21.58, 21.7 , 22.12,
       22.23, 22.42, 22.49, 22.67, 22.75, 22.76, 22.82, 23.1 , 23.17,
       23.33, 23.68, 23.95, 24.01, 24.06, 24.08, 24.27, 24.52, 24.55,
       24.59, 24.71, 25.  , 25.21, 25.28, 25.29, 25.56, 25.71, 25.89,
       26.41, 26.59, 26.86, 26.88, 27.05, 27.18, 27.2 , 27.28, 28.15,
       28.17, 28.44, 28.55, 28.97, 29.03, 29.8 , 29.85, 29.93, 30.06,
       30.14, 30.4 , 30.46, 31.27, 31.71, 31.85, 32.4 , 32.68, 32.83,
       32.9 , 34.3 , 34.63, 34.65, 34.81, 34.83, 35.26, 35.83, 38.01,
       38.07, 38.73, 39.42, 40.17, 40.55, 41.19, 43.11, 44.3 , 45.35,
       48.17, 48.27, 48.33, 50.81])

3.07

50.81

13.3475

17.795

24.127499999999998

In [21]:
# find 5 no. of summery
minimum = df['total_bill'].min()
maximum = df['total_bill'].max()
Q1 = df['total_bill'].quantile(.25)
Q2 = df['total_bill'].quantile(.50)
Q3 = df['total_bill'].quantile(.75)
IQR = Q3-Q1
L_limit=Q1-1.5*IQR
U_limit= Q3+1.5*IQR

In [25]:
print("Minimum: ", minimum)
print("Maximum: ", maximum)
print("Q1: ", Q1)
print("Q2: ", Q2)
print("Q3: ", Q3)
print("L_limit: ", L_limit)
print("U_limit: ", U_limit)

Minimum:  3.07
Maximum:  50.81
Q1:  13.3475
Q2:  17.795
Q3:  24.127499999999998
L_limit:  -2.8224999999999945
U_limit:  40.29749999999999

In [26]:
df['total_bill'].mean()

19.78594262295082

In [27]:
df['total_bill'].median()

17.795

In [29]:
df['total_bill'].mode()

0    13.42
Name: total_bill, dtype: float64

In [30]:
df['total_bill'].skew()

1.1332130376158205

In [31]:
df['total_bill'].var()

79.25293861397827

In [32]:
df['total_bill'].std()

8.902411954856856