In [1]:
# to see all the pips
pip freeze

altair==5.5.0
annotated-types==0.7.0
anyio==4.4.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==24.2.0
babel==2.16.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.8.2
branca==0.8.1
cachetools==5.5.1
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.2
comtypes==1.4.7
contourpy==1.3.0
cycler==0.12.1
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.8
et-xmlfile==1.1.0
executing==2.0.1
fastjsonschema==2.20.0
filelock==3.16.1
Flask==3.0.3
folium==0.20.0
fonttools==4.53.1
fqdn==1.5.1
gitdb==4.0.12
GitPython==3.1.44
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.174.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
grpcio==1.73.1
grpcio-status==1.71.0
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
idna==3.7
ipykernel==6.29.5
ipython==8.26.0
ipywidgets==8.1.7
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kagglehub==0.3.3
kiwisolver==1.4.5
linearsvc==1.0.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
mysql-connector-python==9.0.0
narwhals==1.26.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
notebook==7.2.1
notebook_shim==0.2.4
numpy==2.1.0
opencv-python==4.10.0.84
openpyxl==3.1.5
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
pillow==10.4.0
platformdirs==4.2.2
plotly==6.0.0
prettytable==3.12.0
prometheus_client==0.20.0
prompt_toolkit==3.0.47
proto-plus==1.26.1
protobuf==5.29.3
psutil==6.0.0
pure_eval==0.2.3
pyarrow==19.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
pydeck==0.9.1
Pygments==2.18.0
pyjokes==0.8.3
pyodbc==5.1.0
pyparsing==3.1.4
pypiwin32==223
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pyttsx3==2.91
pytz==2024.2
pywin32==306
pywinpty==2.0.13
PyYAML==6.0.2
pyzmq==26.2.0
redis==5.2.1
referencing==0.35.1
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.20.0
rsa==4.9.1
schedule==1.2.2
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
Send2Trash==1.8.3
setuptools==73.0.1
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
spotipy==2.25.0
stack-data==0.6.3
streamlit==1.42.0
tenacity==9.0.0
terminado==0.18.1
threadpoolctl==3.5.0
tinycss2==1.3.0
toml==0.10.2
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
types-python-dateutil==2.9.0.20240821
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2024.1
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.2.2
virtualenv==20.26.5
watchdog==6.0.0
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.4
widgetsnbextension==4.0.14
xlrd==2.0.1
xyzservices==2025.4.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
# import pandas
import pandas as pd

In [4]:
# to load the dataset by writeing pd.read then tad to select file type then (r"file path in it")
pd.read_csv(r"C:\Users\user\OneDrive\Desktop\New Dataset Ducat\DQL_Selse_Data.csv")

,Sale_Date,Customer Name,City,State,Region,Product Category,Product Name,Quantity,Price per Unit,Sales Amount
0,03-02-2023,Meera,Nagpur,Maharashtra,West,Furniture,Table,6,4016.25,24097.50
1,21-04-2023,Vihaan,Coimbatore,Tamil Nadu,South,Stationery,Ruler,9,3801.85,34216.65
2,21-09-2023,Nishant,Bengaluru,Karnataka,South,Stationery,Ruler,11,3594.07,39534.77
3,24-08-2023,Vihaan,Madurai,Tamil Nadu,South,Clothing,Dress,9,4487.00,40383.00
4,24-03-2023,Aditi,Mumbai,Maharashtra,West,Groceries,Lentils,17,1240.77,21093.09
...,...,...,...,...,...,...,...,...,...,...
995,15-04-2023,Riya,Coimbatore,Tamil Nadu,South,Groceries,Oil,14,4532.88,63460.32
996,07-09-2023,Ishita,Nagpur,Maharashtra,West,Furniture,Bed,6,1709.52,10257.12
997,27-04-2023,Kabir,Bengaluru,Karnataka,South,Clothing,Dress,10,3803.22,38032.20
998,20-12-2023,Ananya,Bengaluru,Karnataka,South,Stationery,Notebook,15,1853.00,27795.00
999,16-08-2023,Kabir,Mumbai,Maharashtra,West,Clothing,Pants,2,2623.43,5246.86

In [3]:
pd.read_excel(r"C:\Users\user\OneDrive\Desktop\New Dataset Ducat\sales data.xlsx",sheet_name="Sheet1")

,Sale_Date,Customer Name,City,State,Region,Product Category,Product Name,Quantity,Price per Unit,Sales Amount
0,2023-02-03,Meera,Nagpur,Maharashtra,West,Furniture,Table,6,4016.25,24097.50
1,2023-04-21,Vihaan,Coimbatore,Tamil Nadu,South,Stationery,Ruler,9,3801.85,34216.65
2,2023-09-21,Nishant,Bengaluru,Karnataka,South,Stationery,Ruler,11,3594.07,39534.77
3,2023-08-24,Vihaan,Madurai,Tamil Nadu,South,Clothing,Dress,9,4487.00,40383.00
4,2023-03-24,Aditi,Mumbai,Maharashtra,West,Groceries,Lentils,17,1240.77,21093.09
...,...,...,...,...,...,...,...,...,...,...
995,2023-04-15,Riya,Coimbatore,Tamil Nadu,South,Groceries,Oil,14,4532.88,63460.32
996,2023-09-07,Ishita,Nagpur,Maharashtra,West,Furniture,Bed,6,1709.52,10257.12
997,2023-04-27,Kabir,Bengaluru,Karnataka,South,Clothing,Dress,10,3803.22,38032.20
998,2023-12-20,Ananya,Bengaluru,Karnataka,South,Stationery,Notebook,15,1853.00,27795.00
999,2023-08-16,Kabir,Mumbai,Maharashtra,West,Clothing,Pants,2,2623.43,5246.86